<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Contact form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'css/admin_contactus.css'%}"  >
  </head>
  <body>


      <form action="{% url 'AdminPage:ad_contact_us' %}" name="contact_us" id='contact_us' method="post">
        {% csrf_token %}
        <div class="unni">

          <a href="/"><h2>UNNI'S CHOICE</h2></a>

        </div>

        <div class="admin_name">

          <h1> * Contact Us * </h1>
          
        </div>
        <div class="info">
          <input type="text" name="c_title" placeholder="제목">
          <input class="fname" type="text" name="c_name" placeholder="이름">
          <input type="text" name="c_email" placeholder="이메일 ex) 123@gmail.com">
          <input type="text" name="c_tel" placeholder="전화번호 ex) 010XXXXXXXX">
        </div>
        <p>문의내용</p>
        <div>
          <textarea name='c_content'rows="4" placeholder='글자를 입력하세요.'></textarea>
        </div>
        <button type="submit" >문의하기</button>
      </form>



    </div>
  </body>
</html>