{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--최신제이쿼리 이용-->
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <link rel="stylesheet" href="{% static 'css/admin_list.css'%}">
  <title>AdminPage</title>
  <script>

    function cancelBtn(){

      location.href="{% url 'AdminPage:ad_e_L' searchword3=searchword3 category3=category3 %}"
    }

  </script>
</head>

  <section>
    <h1>회원정보수정</h1>


    <form action="{% url 'AdminPage:ad_e_U' searchword3=searchword3 category3=category3 ex_id=ex_List.ex_id %}" name="update" method="post">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        
  {% if ex_List%}

    <div class="form-group">
      <label for="ex_id">운동아이디</label>
      <input type= "text" class="form-control" id="ex_id" value="{{ex_List.ex_id}}"  placeholder="{{ex_List.ex_id}}" name ="ex_id" readonly>
      </div>
    <div class="form-group">
      <label for="activity">운동종류</label>
      <input type= "text" class="form-control" id="activity" value="{{ex_List.activity}}" name ="activity">
      </div>
    <div class="form-group">
      <label for="aerobic">유,무산소</label>
      <input type= "text" class="form-control" id="aerobic" value="{{ex_List.aerobic}}" name ="aerobic">
      </div>
    <div class="form-group">
      <label for="met">에너지소모량</label>
      <input type= "text" class="form-control" id="met" value="{{ex_List.met}}" name ="met">
      </div>
    <div class="form-group">
      <label for="level">운동강도</label>
      <input type= "text" class="form-control" id="level" value="{{ex_List.level}}" name ="level">
      </div>
    <div class="form-group">
      <label for="ex_name">운동이름</label>
      <input type= "text" class="form-control" id="ex_name" value="{{ex_List.ex_name}}" name ="ex_name">
      </div>
    <div class="form-group">
      <label for="target_category">타켓 카테고리</label>
      <input type= "text" class="form-control" id="target_category" value="{{ex_List.target_category}}" name ="target_category">
      </div>
    <div class="form-group">
      <label for="muscle">자극되는 근육</label>
      <input type= "text" class="form-control" id="muscle" value="{{ex_List.muscle}}" name ="muscle">
      </div>
    <div class="form-group">
      <label for="equipment">운동에 사용되는 운동기구</label>
      <input type= "text" class="form-control" id="equipment" value="{{ex_List.equipment}}" name ="equipment">
      </div>

      </table>
          
          <div class="button-wrapper">
            <button type="submit"  class="update">수정완료</button>
            <button type="button" onclick= 'cancelBtn()' class="cancel">취소</button>
          </div>

      {% endif %}

    </form>

  </section>

</body>  
</html>