
{% load static %}

  <link rel="stylesheet" href="{% static 'css/admin_view.css'%}">
  
</head>


  <section>
    <h1>상세페이지</h1>
    

    <table>
    {% if admin_List %}
    
      <tr>
        <th>아이디: {{admin_List.user_id}}</th>
      </tr>

      <tr>
        <td>수정날짜: {{admin_List.modidate|date:'Y-M-d H:i'}}</td>
      </tr>

      <tr>
        <td>회원이름: {{admin_List.user_name}}</td>
      </tr>

      <tr>
        <td>이메일: {{admin_List.email}}</td>
      </tr>
   
    {% endif %}
    </table>

    

    <div class="list"><a href="{% url 'AdminPage:ad_m_L' searchword category %}">목록</a></div>
    <div class="list" onclick='deleteBtn()'>삭제</div>
    <div class="list"><a href="{% url 'AdminPage:ad_m_U' searchword category admin_List.user_id %}">수정</a></div>
  </section>

