{%extends 'base.html' %}
{% load static %}
{% block all_content %}
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/write.css'%}">
  <script>

    function cancelBtn(){

      location.href="#"
    }

  </script>
</head>

  <section>
    <h1>음식정보추가</h1>
    <hr>

    <form action="#" name="write" method="post">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>분류</th>
          <td>
            <div class="category-wrapper">
              <select name="category" id="category">
                <option value="notice">공지</option>
                <option value="event">이벤트</option>
              </select>  
            </div>
          </td>
        </tr>
        <tr>
          <th>음식이름</th>
          <td>
            <input type="text" id='food_name' name="food_name" value="{{food.food_name}}" readonly>
          </td>
        </tr>
        <tr>
          <th>아이디</th>
          <td>{{request.session.s_id}}
            <input type="hidden" name='id' value="{{request.session.s_id}}">
          </td>
        </tr>
        <tr>
          <th>제조사</th>
          <td>
            <input type="text" id='manufac' name="manufac" value="{{food.food_manufacturer}}">
          </td>
        </tr>
        <tr>
          <th>1회제공량</th>
          <td>
            <input type="text" id='portion' name="portion" value="{{food.food_portion}}">
          </td>
        </tr>
        <tr>
          <th>탄수화물</th>
          <td>
            <input type="text" id='carb' name="carb" value="{{food.food_carb}}">
          </td>
        </tr>
        <tr>
          <th>단백질</th>
          <td>
            <input type="text" id='protein' name="protein" value="{{food.food_protein}}">
          </td>
        </tr>
        <tr>
          <th>지방</th>
          <td>
            <input type="text" id='fat' name="fat" value="{{food.food_fat}}">
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="file" id="file">
          </td>
        </tr>
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="submit"  class="write">수정완료</button>
        <button type="button" onclick= 'cancelBtn()' class="cancel">취소</button>
      </div>
    </form>

  </section>
{% endblock all_content %}