{%extends 'base.html' %}
{% load static %}
{% block all_content %}

  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/notice_list.css'%}">


  <section>
    <h1>NOTICE</h1>
    <div class="wrapper">
      <form action="#" name="searchfrm" id='searchfrm' method="post">
        {% csrf_token %} <!-- 이거 이렇게 써야하나?? 첫번째 보여지는 페이지라서 ?? searchword='SW' category='first' nowpage=1-->
        
        <select name="category" id="category">
          <option value="user_name">회원이름</option>
          <option value="user_id">회원아이디</option>
          <option value="pro">전문가여부</option>
        </select>

        <div class="title">
          <input type="text" name='searchword' id='searchword' size="16">
        </div>
  
        <button type="button"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <table>
      <colgroup>
        <col width="18%">
        <col width="15%">
        <col width="18%">
        <col width="18%">
        <col width="18%">
      </colgroup>
      <tr>
        <th>회원이름</th>
        <th>회원아이디</th>
        <th>생년월일</th>
        <th>회원이메일</th>
        <th>수정날짜</th>
      </tr>
     
      
      <tr>
        <td class="table-title"><a href="#">{{board.food_name}}</a></td>
        <td>{{board.food_portion}}</td>
        <td>{{board.food_carb}}</td>
        <td>{{board.food_protein}}</td>
        <td>{{board.food_fat}}</td>
      </tr>
     
    </table>
  <!-- 이전페이지처리 -->
    <ul class="page-num">
   

      <a href="#"><li class="first"></li></a>
      <a href="#"><li class="prev"></li></a>

 
      <li class='first'></li>
      <li class='prev'></li>
   
      <!-- 페이지처리 -->

     
      <a href="#">
        <li class="num"><div>{{page}}</div></li>
      </a>
      
      <li class="num"><div>{{page}}</div></li>
     

      <!-- 마지막페이지처리 -->

      <a href="#"><li class="next"></li></a>
      <a href="#"><li class="last"></li></a>

      <li class="next"></li>
      <li class="last"></li>
     
    </ul>

    <div class="write">쓰기</div>
  </section>



  
{% endblock all_content %}