{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--최신제이쿼리 이용-->
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/admin_list.css'%}">
  <title>AdminPage</title>
  <script>
    
  
    function searchBtn(){
  
      if($('#searchword').val()==''){
  
        alert('검색어를 입력하세요.')
        $('#searchword').focus()
        return false 
        
      } 
  
      $('#searchfrm').submit()
  
    }


 
  
  
  </script> 
</head>
<body>


  <nav>
  
    <ul class='nav_container'>
      <li class='nav_item'><a href="{% url 'AdminPage:ad_m_L' searchword='searchword' category='user_name' %}">회원관리</a></li>
      <li class='nav_item'><a href="{% url 'AdminPage:ad_f_L' searchword2='searchword2' category2='f_NO' %}">음식DB관리</a></li>
      <li class='nav_item'><a href="{% url 'AdminPage:ad_e_L' searchword3='searchword3' category3='category3' %}">운동DB관리</a></li>
      <li class='nav_item'><a href="">게시판관리</a></li>
      <li class='nav_item'><a href="">Contact-Us</a></li>
    </ul>
  
  </nav>
  
  

  
  <section>
    <h1>회원관리</h1>
    <div class="wrapper">
      <form action="{% url 'AdminPage:ad_m_L' searchword='searchword' category='category' %}" name="searchfrm" id='searchfrm' method="post">
        {% csrf_token %} 
        
        <select class='admin_select' name="category" id="category">
          <option value="user_name">회원이름</option>
          <option value="user_id">회원아이디</option>
          <option value="emil">이메일</option>
          <option value="all">전체</option>
        </select>
  
        <div class="title">
          <input type="text" name='searchword' id='searchword' size="16">
       
        <div>
          <button type="button" onclick='searchBtn()'><span>search</span></button>
        </div>
      </form>
    </div>
  
    <table>
      <colgroup>
        <col width="15%">
        <col width="15%">
        <col width="18%">
        <col width="18%">
        <col width="18%">
      </colgroup>
      <thead>
        <tr>
          <th>회원이름</th>
          <th>회원아이디</th>
          <th>생년월일</th>
          <th>회원이메일</th>
          <th>수정날짜</th>
        </tr>
      </thead>
      {% if admin_List %}
      {% for board in admin_List%}
      <tbody>
        <tr>
          <td>{{board.user_name}}</td>
          <td><a href="{% url 'AdminPage:ad_m_V' searchword category board.user_id %}">{{board.user_id}}</a></td>
          <td>{{board.birth|date:'Y-m-d'}}</td>
          <td>{{board.email}}</td>
          <td>{{board.modidate}}</td>
        </tr>
      </tbody>
      {% endfor %}
      {%else%}
      <tr>
        <td colspan='5'>데이터가 없습니다</td>
      </tr>
      {% endif %}
     
    </table>
  
  
   
  </section>






  
</body>  
</html>