{%extends 'base.html' %}
{% block mycontent %}
{% load static %}

  <link rel="stylesheet" href="{% static 'css/admin_view.css'%}">
  
</head>


  <section>
    <h1>상세페이지</h1>
    

    <table>
    {% if admin_List %}
    {% for board in admin_List %}
      <tr>
        <th>{{board.user_id}}</th>
      </tr>
      <tr>
        <td>{{board.modidate|date:'Y-M-d H:i'}}</td>
      </tr>
      <tr>
        <td>회원이름:{{board.user_name}}</td>
      </tr>
      <tr>
        <td>이메일:{{board.email}}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </table>

    

    <a href="#"><div class="list">목록</div></a>
    <div class="list" onclick='deleteBtn()'>삭제</div>
    <a href="#"><div class="list">수정</div></a>
  </section>

  {% endblock mycontent %}