{% extends 'base.html' %}
{% load static %}
{% block mycontent %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'css/mupdate.css' %}">
    <title>My Info Update</title>
    <script>
      function cancelBtn(){
        if (confirm('수정을 취소하시겠습니까?')){
          location.href="{% url 'Member:mView' %}"
        }
  
      }
    </script>
</head>
<body>
  <section>
    <h1>나의 정보 수정하기 </h1>
    <hr>

    <form action="{% url 'Member:mUpdate' %}" name="write" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="30%">
          <col width="70%">
      </colgroup>
        <tr>
          <th>사용자이름 :</th>
          <td><input type='text' name='user_name' value="{{request.session.session_user_name}}"></td>
        </tr>
        <tr>
          <th>아이디 :</th>
          <td><input type='text' name='user_id' value="{{request.session.session_user_id}}"></td>
          
        </tr>
        <tr>
          <th>비밀번호 :</th>
          <td><input type='text' name='user_pw' value={{update.user_pw}}></td>
        </tr>
        <tr>
          <th>생년월일 :</th>
          <td><input type='text' name='birth' value="{{update.birth|date:'Y-m-d'}}"></td>          
        </tr>
        <tr>
          <th>성별 :</th>
          <td><input type='text' name='gender' value="{{update.get_gender_display}}"></td>
        </tr>
        <tr>
          <th>전화 :</th>
          <td><input type='text' name='phone' value="{{update.phone}}"></td>
        </tr>
        <tr>
          <th>이메일 :</th>
          <td><input type='text' name='email' value="{{update.email}}"></td>
        </tr>
        <tr>
          <th rowspan="3">주소 :</th>
          <td><input type='text' name='zipcode' value="{{update.zipcode}}"></td>
        </tr>
        <tr>
          
          <td><input type='text' name='addressd1' value="{{update.addressd1}}"></td>
        </tr>
        <tr>
          
          <td><input type='text' name='addressd2' value="{{update.addressd2}}"></td>
        </tr>
        <tr>
          <th>서비스 :</th>
          <td><input type='text' name='service' value="{{update.get_service_display}}"></td>
        </tr>
        <tr>
          <th>목적 :</th>
          <td><input type='text' name='user_purpose' value="{{update.get_user_purpose_display}}"></td>
        </tr>
        <tr>
          <th>타겟부위 :</th>
          <td><input type='text' name='user_target' value="{{update.get_user_target_display}}"></td>
        </tr>
        <tr>
          <th>비건여부 :</th>
          <td><input type='text' name='vegan' value="{{update.get_vegan_display}}"></td>
        </tr>
        <tr>
          <th>전문가여부 :</th>
          <td><input type='text' name='pro' value="{{update.get_pro_display}}"></td>
        </tr>
        <tr>
          <th>목표몸무게 :</th>
          <td><input type='text' name='goal_weight' value="{{update.goal_weight}}"></td>
        </tr>
        <tr>
          <th>목표체지방률 :</th>
          <td><input type='text' name='goal_bodyfat' value="{{update.goal_bodyfat}}"></td>
        </tr>
        <tr>
          <th>목표기간 :</th>
          <td><input type='text' name='goal_period' value="{{update.goal_period}}"></td>
        </tr>
        <tr>
          <th>알레르기음식 :</th>
          <td><input type='text' name='allergic_food' value="{{update.allergic_food}}"></td>
        </tr>
        <tr>
          <th>수정 날짜 :</th>
          <td><input type='text' name='modidate' value="{{update.modidate|date:'Y-m-d H:i'}}"></td>
        </tr>
      </table>

      <hr>
      <div class="btn">
        <button type="submit" class="write">수정완료</button>&nbsp;&nbsp;
        <button type="button" onclick="cancelBtn()" class="cancel">취소</button>
      </div>
    </form>
    </section>
{%endblock mycontent%}
