{% extends 'base.html' %}
{% load static %}
{% block mycontent %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'css/read.css' %}">
    
    <title>My Info</title>
    <script>
        function deleteBtn(){
        if(confirm("데이터를 삭제하시겠습니까?")){
            location.href="{% url 'Member:mDelete' %}"
        }else{
            return false
        }
        }
    </script>
</head>

    <section>
        <h1>나의 정보</h1>
        <table>
            <colgroup>
                <col width="30%">
                <col width="70%">
            </colgroup>
            <tr>
                <td>사용자이름 :</td>
                <td>{{view.user_name}}</td>
            </tr>
            <tr>
                <td>아이디 :</td>
                <td>{{view.user_id}}</td>
            </tr>
            <tr>
                <td>비밀번호 :</td>
                <td>{{view.user_pw}}</td>
            </tr>
            <tr>
                <td>생년월일 :</td>
                <td>{{view.birth|date:'Y-m-d'}}</td>
            </tr>
            <tr>
                <td>성별 :</td>
                <td>{{view.get_gender_display}}</td>
            </tr>
            <tr>
                <td>전화 :</td>
                <td>{{view.phone}}</td>
            </tr>
            <tr>
                <td>이메일 :</td>
                <td>{{view.email}}</td>
            </tr>
            <tr>
                <td rowspan="3">주소 :</td>
                <td>{{view.zipcode}}</td>
            </tr>
            <tr>
                
                <td>{{view.addressd1}}</td>
            </tr>
            <tr>
                
                <td>{{view.addressd2}}</td>
            </tr>
            <tr>
                <td>서비스 :</td>
                <td>{{view.get_service_display}}</td>
            </tr>
            <tr>
                <td>목적 :</td>
                <td>{{view.get_user_purpose_display}}</td>
            </tr>
            <tr>
                <td>타겟부위 :</td>
                <td>{{view.get_user_target_display}}</td>
            </tr>
            <tr>
                <td>비건여부 :</td>
                <td>{{view.get_vegan_display}}</td>
            </tr>
            <tr>
                <td>전문가여부 :</td>
                <td>{{view.get_pro_display}}</td>
            </tr>
            <tr>
                <td>목표몸무게 :</td>
                <td>{{view.goal_weight}}</td>
            </tr>
            <tr>
                <td>목표체지방률 :</td>
                <td>{{view.goal_bodyfat}}</td>
            </tr>
            <tr>
                <td>목표기간 :</td>
                <td>{{view.goal_period}}</td>
            </tr>
            <tr>
                <td>알레르기음식 :</td>
                <td>{{view.allergic_food}}</td>
            </tr>
            <tr>
                <td>가입 날짜 :</td>
                <td>{{view.createdate|date:'Y-m-d H:i'}}</td>
            </tr>
        </table>
        <div class="btn">
            <div class="list"><a href="{% url 'Member:mUpdate' %}">정보수정</a></div>
            <div class="list" onclick="deleteBtn()">삭제</div>
        </div>
        </section>
{%endblock mycontent%}