<html>
    {% load static %}
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        ///////////비밀번호 유효성검사
        
            function check_pw(){
        
                let p1 = document.getElementById('user_pw').value;
                let p2 = document.getElementById('re_password').value;
        
                if (p1!=p2) { 
                    document.getElementById('pw_check_msg').innerHTML = "비밀번호가 다릅니다. 다시 확인해 주세요."; 
                } 
                else { 
                    document.getElementById('pw_check_msg').innerHTML = ""; 
                } 
        
                if (p2==' '){
                    document.getElementById('pw_check_msg').innerHTML = "";
                }
            } //비밀번호 확인
        
        
        ////////////////이메일 유효성검사
            function check_email(){
        
                var email = document.getElementById('email').value
                var exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        
                    if(exptext.test(email)==false){
        
                    //이메일 형식이 알파벳+숫자@알파벳+숫자.알파벳+숫자 형식이 아닐경우			
        
                    document.getElementById('email_check_msg').innerHTML = '이메일형식이 잘못되었습니다.';
        
                return false;
                
                    }else{
        
                        document.getElementById('email_check_msg').innerHTML = '';
                    }
                
            }
        
        
                
        
            ////////////////////////////필수항목 검사 


            function signup_now(){


                if($('#year').val() == '' |  $('#month').val() == '' |  $('#day').val() == '' ){
                    $('#birthday_check_msg').attr('class','warning');
                    $('#birthday_check_msg').text('필수 입력사항입니다.');

                    if($('#height').val() == ''){
                        $('#height_check_msg').attr('class','warning');
                        $('#height_check_msg').text('필수 입력사항입니다.');

                        if($('#weight').val() == ''){
                            $('#weight_check_msg').attr('class','warning');
                            $('#weight_check_msg').text('필수 입력사항입니다.');

                            if($('#goal_weight').val() == ''){
                                $('#goal_weight_check_msg').attr('class','warning');
                                $('#goal_weight_check_msg').text('필수 입력사항입니다.');


                                if($('#tel').val() == ''){
                                    $('#tel_check_msg').attr('class','warning');
                                    $('#tel_check_msg').text('필수 입력사항입니다.');

                                    if($('#user_pw').val() == ''){
                                        $('#pw1_check_msg').attr('class','warning');
                                        $('#pw1_check_msg').text('필수 입력사항입니다.');

                                        if($('#re_password').val() == ''){
                                            $('#pw_check_msg').attr('class','warning');
                                            $('#pw_check_msg').text('필수 입력사항입니다.');

                                            if($('#user_id').val() == ''){
                                                $('#user_id_check_msg').attr('class','warning');
                                                $('#user_id_check_msg').text('필수 입력사항입니다.');


                                                if($('#user_name').val() == ''){
                                                    $('#user_name_check_msg').attr('class','warning');
                                                    $('#user_name_check_msg').text('필수 입력사항입니다.');



                                                    if($('#email').val() == ''){
                                                        $('#email_check_msg').attr('class','warning');
                                                        $('#email_check_msg').text('필수 입력사항입니다.');


                                                        if($('#postcode').val() == '' |  $('#address').val() == '' |  $('#detailAddress').val() == '' ){
                                                            $('#address_check_msg').attr('class','warning');
                                                            $('#address_check_msg').text('필수 입력사항입니다.');

                                                            return false
                                        
                                        
                                        
                                                        }
                                    
                                    
                                    
                                                    }
                                
                                
                                
                                                }


                                            
                            
                                            }


                                        }

                                    }


                                }


                        
                            }
        
        
        
                        }
    
    
    
                    }

                }else{


                    $('#signupfrm').submit()

                    }

            
            }//signup
             
              
            
                
            
        
        //////////////////////////전화번호 유효성검사
            function check_tel(){
        
                let tel_reg = /[^0-9]+/g;
        
                let tel = document.getElementById('tel').value;
        
            
                if (tel_reg.test(tel)){
        
                    document.getElementById('tel_check_msg').innerHTML = '숫자만 입력해주세요'
                    
        
                }
                
                else{
        
                    document.getElementById('tel_check_msg').innerHTML = '';
        
        
                }
            }
        //////////////////////////키 유효성검사

            function check_height(){
        
                let all_reg = /[^0-9]+/g;
                let height = document.getElementById('height').value;
               
                if (all_reg.test(height)){
        
                    document.getElementById('height_check_msg').innerHTML = '숫자만 입력해주세요'
                    
               
                    
        
                }
                
                else{
        
                    document.getElementById('height_check_msg').innerHTML = '';
                 
        
        
                }
            }
        //////////////////////////몸무게 유효성검사

            function check_weigth(){
        
                let all_reg = /[^0-9]+/g;
                let weight = document.getElementById('weight').value;
                let goal_weight = document.getElementById('goal_weight').value;
        
            
                if (all_reg.test(weight)){
        
                    document.getElementById('weight_check_msg').innerHTML = '숫자만 입력해주세요'
               
                    
        
                }
                
                else{
        
                    document.getElementById('weight_check_msg').innerHTML = '';
                 
        
        
                }
            }
        //////////////////////////목표몸무게 유효성검사

            function check_goal_weight(){
        
                let all_reg = /[^0-9]+/g;
                let goal_weight = document.getElementById('goal_weight').value;
        
            
                if (all_reg.test(goal_weight)){
        
                    document.getElementById('goal_weight_check_msg').innerHTML = '숫자만 입력해주세요'
               
                    
        
                }
                
                else{
        
                    document.getElementById('goal_weight_check_msg').innerHTML = '';
                 
        
        
                }
            }
        //////////////////////////목표기간 유효성검사

            function check_goal_period(){
        
                let all_reg = /[^0-9]+/g;
                let goal_period = document.getElementById('goal_period').value;
        
            
                if (all_reg.test(goal_period)){
        
                    document.getElementById('goal_period_check_msg').innerHTML = '숫자만 입력해주세요'
               
                    

                }
                
                else{
        
                    document.getElementById('goal_period_check_msg').innerHTML = '';
        
                }
            }
        
        
        
        
        
        ////////////////////////////생년월일 유효성 검사
            $(function(){
                let all_reg = /[^0-9]+/g;
                $('#day').keyup(function(){
                    
                 
                    if(all_reg.test($('#year').val())| all_reg.test($('#month').val()) | all_reg.test($('#day').val()) ){
        
                        $('#birthday_check_msg').attr('class','warning');
                        $('#birthday_check_msg').text('숫자만 입력해주세요.');
        
                    }else{
        
                        $('#birthday_check_msg').text('');
        
        
                    }
                })
            })
    
        ///////////////////////////로그인 입력 취소 
            function cancelBtn(){
        
        
                location.href="{% url 'Member:cancel_signup' %}"
        
            }

    </script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>


</head>


<!--####################################################################################################################-->

<body bgcolor='#f7f7f7 '>
       
    <div id="container">
        <div id="content">
                
                <div class ="main_logo">
                    <a href='/'><h1>UNNI'S CHOICE</h1></a>

                    
                </div><br><br>

                <form method = "POST" action = "{% url 'Member:signup' %}" id="signupfrm">  
                {% csrf_token %} 
                <div class="lil_box">
                <label class="label" for="user_name">사용자이름</label> <br><br>
                <input type= "text"  id="user_name" class="first_input"  placeholder="사용자이름" name ="username">
                <br><span class="warning"  id="user_name_check_msg"></span>
                </div>
             
                <div class="lil_box">
                  <label class="label"  for="user_id">아이디</label><br><br>
                  <input type="text"  id="user_id" class="first_input"  placeholder="아이디" name="user_id">  
                  <br><span class="warning"  id="user_id_check_msg"></span> 
                  <!-- 이 name 값으로 정보가 전달된다 -->
                </div>
             
                <div class="lil_box">
                    <label class="label"  for="user_pw">비밀번호</label><br><br>
                    <input type="text"  id="user_pw"  class="first_input"  placeholder="비밀번호" name="user_pw">   
                    <br><span class="warning"  id="pw1_check_msg"></span>
                 
                  </div>
                
                <div class="lil_box">
                  <label class="label"  for="re_password">비밀번호 확인</label><br><br>
                  <input type= "text" id="re_password" class="first_input"   onkeyup="check_pw()" placeholder="비밀번호 확인" name ="re_password">
                  <br><span class="warning" id="pw_check_msg"></span> 
                </div>
               
             
                <div class="lil_box" > 
                    <label class="label"  for="birthday">생년월일</label><br><br>
                    <input type="text" id="year"  class="second_input" placeholder="년" aria-label="년(4자)" maxlength="4" name="year">
                    <select id="month"  aria-label="월" class="month_input" name="month">
                        <option disabled selected>월</option>
                        <option value="01">1월</option>
                        <option value="02">2월</option>
                        <option value="03">3월</option>
                        <option value="04">4월</option>
                        <option value="05">5월</option>
                        <option value="06">6월</option>
                        <option value="07">7월</option>
                        <option value="08">8월</option>
                        <option value="09">9월</option>
                        <option value="10">10월</option>
                        <option value="11">11월</option>
                        <option value="12">12월</option>
             
                    </select> 
                    <input type="text" id="day" class="second_input"  placeholder="일" aria-label="일" maxlength="2" name="day">
                    <br><span class="warning"  id="birthday_check_msg"></span> 
                </div>
             
                <div class="lil_box" >
                  <label class="label"  for="gender">성별</label><br><br>
                    <select id="gender" class="box_design"  name="gender" aria-label="성별">
                        <option value="M" selected>남자</option>
                        <option value="F">여자</option>
                    </select>
                    
                </div>
             
                <div class="lil_box" >
                  <label class="label"  for="tel">전화</label><br><br>
                  <input type= "text" id="tel" onkeyup="check_tel()" placeholder="'-'를 제외하고 입력해주세요." name = "tel">
                  <br><span  class="warning" id="tel_check_msg"></span> 
                </div>
                
             
                <div class="lil_box">
                  <label class="label"  for="email">이메일</label><br><br>
                  <input type= "text"  id="email" onkeyup='check_email()' placeholder="@unnischoice.com" name = "email">
                  <br><span class="warning" id="email_check_msg"></span> 
             
                </div>

             
             
                <div class="lil_box">
                    <label class="label"  for="address">주소</label><br><br>
                    <input type="text" id="postcode"  class="third_input"  name="postcode"  placeholder="우편번호">
                    <input type="button" class="fourth_input"  onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br><br>
                    <input type="text"  id="address" name="address" placeholder="주소"><br><br>
                    <input type="text" id="sample4_jibunAddress" placeholder="지번주소"><br><br>
                    <span id="guide" style="color:#999;display:none"></span>
                    <input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소"><br><br>
                    <input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목">
                    <br><span class="warning" id="address_check_msg"></span> 
                </div>
             
                <div class="lil_box">
                    <label class="label"  for="service">서비스</label><br><br>
                
                        <select id="service"   name="service" class="box_design" aria-label="서비스">
                            
                            <option value="meal" selected >식단형</option>
                            <option value="balance">균형형</option>
                            <option value="exercise">운동형</option>
                        </select>
                </div>
             
             
             
                <div class="lil_box">
                    <label class="label" for="purpose">목적</label><br><br>
                
                    <select id="purpose" name="purpose" class="box_design"  aria-label="목적">
                        <option value="weightlose" selected>체중감소</option>
                        <option value="maintain">체중유지</option>
                        <option value="weightgain">체중증가</option>
                    </select>
             
                </div>
             
             
                <div class="lil_box">
                    <label class="label" for="target">타겟부위</label><br><br>
                
                    <select id="target" class="box_design" name="target"  aira-label='타겟부위'>
                        <option value="abs" selected>복부</option>
                        <option value="shoulders">어깨</option>
                        <option value="arms">팔</option>
                        <option value="back">등</option>
                        <option value="chest">가슴</option>
                        <option value="legs">하체</option>
                        <option value="all">전신</option>
                    </select>
             
                </div>
             
             
                <div class="lil_box">
                    <label class="label" for="vegan">비건여부</label><br><br>
                
                    <select id="vegan" class="box_design" name="vegan"  aria-label="비건">
                        <option value="notvegan" selected>해당사항없음</option>
                        <option value="vegan">비건채식</option>
                        <option value="lacto">락토채식</option>
                        <option value="ovo">오보채식</option>
                        <option value="lactoovo">락토오보채식</option>
                        <option value="pollo">폴로채식</option>
                        <option value="pesco">페스코채식</option>
                        <option value="flexitarian">플렉시테리안</option>
                    </select>
             
                </div>
             
             
                <div class="lil_box">
                    <label class="label"  for="advancelevel">전문가여부</label><br><br>
                      <select id="advancelevel" class="box_design" name="advancelevel"  aria-label="전문가여부">
                          <option value="notadvance" selected>비전문가</option>
                          <option value="advance">전문가</option>
                      </select>
                </div>
             
             
                <div class="lil_box">
                    <label class="label" for="height">키</label><br><br>
                    <input type="text"   id="height"  placeholder="키 ex) 165" maxlength="3" onkeyup="check_height()" name="height">  
                    <br><span class="warning" id= "height_check_msg"></span>  
                   
                </div>
             
                <div class="lil_box">
                    <label class="label"  for="weigth">몸무게</label><br><br>
                    <input type="text" id="weight"  placeholder="몸무게 ex) 50 " maxlength="3" onkeyup="check_weigth()"  name="weight">   
                    <br><span class="warning" id="weight_check_msg"></span>  
                   
                </div>
             
                <div class="lil_box">
                    <label class="label"  for="goal_weight">목표몸무게</label><br><br>
                    <input type="text"  id="goal_weight"   placeholder="목표몸무게 ex) 50 "  maxlength="3"  onkeyup="check_goal_weight()" name="goal_weight">   
                    <br><span class="warning" id="goal_weight_check_msg"></span>  
                   
                </div>
             
             
                <div class="lil_box">
                    <label class="label"  for="goal_bodyfat">목표체지방률</label><br><br>
                      <select id="goal_bodyfat" class="box_design" name="goal_bodyfat"  aria-label="목표체지방률">
                          <option value="10" selected>체지방률 10~15%</option>
                          <option value="20" >체지방률 20~25%</option>
                          <option value="15" >체지방률 15~20%</option>
                          <option value="25" >체지방률 25~30%</option>
                          <option value="30" >체지방률 30~%</option>
                         
                      </select>
                </div>
             
                
                <div class="lil_box">
                    <label class="label"  for="goal_period">목표기간(일)</label><br><br>
                    <input type="text" id="goal_period" placeholder="30"  onkeyup="check_goal_period()" name="goal_period"> 
                    <br><span class="warning" id="goal_period_check_msg"></span>   
                </div>
             
             
                <div class="lil_box">
                    <label class="label"  for="activity">활동량</label><br><br>
                      <select id="activity" class="box_design" name="activity"  aria-label="목표체지방률">
                            <option value="0" selected>운동하지 않음</option>
                            <option value="1">가벼운 활동 (운동: 1~3일)</option>
                            <option value="2">보통 활동 (운동: 3~5일)</option>
                            <option value="3">많은 활동 (운동: 6~7일)</option>
                            <option value="4">격렬한 활동</option>
                      </select>
                       
                </div>

                <div  class="lil_box">

                    <button id="btnJoin" type="button" onclick="signup_now()"><span>가입하기</span></button>

                </div>
             

                <div id="label_corp_box">
                    <label id="label_corp" for="activity">© UNNI's Corp.</label><br>
                    
                       
                </div>
             
                </form>    


        </div>
        
   </div>  <!-- container div -->
        


</body>
</html>