{%load static%}
<!DOCTYPE html>
<html class="user-space no-js pc" lang="ko">

<head>
	<!--
	<meta charset="utf-8">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.collectluxe.com/">
	<meta property="og:title" content="COLLECT">
	<meta property="og:description"
		content="콜렉트는 세계적인 명품 안경, 선글라스를 큐레이션하는 개인 맞춤형 프리미엄 아이웨어 편집숍입니다. 콜렉트 공식 온라인 스토어에서 다양한 제품을 만나보세요." />
	<meta property="og:image"
		content="https://www.collectluxe.com/api/dsavedownload/image/2989/Main+Image+1.jpg?w=0&h=0&download=0" /> -->
	<meta property="og:image:width" content="1600" />
	<meta property="og:image:height" content="1600" />
	<meta property="fb:app_id" content="331468114915902" />
	<title>언니's Choice</title>
	<script async src="https://www.googletagmanager.com/gtag/js?id=aaf63c5d67bfd8">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'aaf63c5d67bfd8');
		gtag('config', 'UA-167588046-1');
	</script>

	<script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
	<script type="text/javascript">
		if (!wcs_add) var wcs_add = {};
		wcs_add["wa"] = "63f35b5c73a144";
		if (window.wcs) {
			wcs_do();
		}
	</script>

	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />

	<script src="https://unpkg.com/blueimp-gallery@2.33.0/js/blueimp-gallery.min.js"></script>
	<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/jqueryui@1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/jqueryui@1.11.1/jquery-ui.min.css" />
	<script>$.fn.uiSlider = $.fn.slider;</script>
	<link rel="stylesheet" type="text/css"
		href="https://unpkg.com/blueimp-gallery@2.33.0/css/blueimp-gallery.min.css" />
	<script src="https://unpkg.com/blueimp-gallery@2.33.0/js/jquery.blueimp-gallery.min.js"></script>
	<script src="/static/js/jquery.smoothState.min.js"></script>
<!--
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" />
-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
	<script src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js"></script>
	<script src="/static/js/modernizr-custom.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="/static/css/basic/helpers/tether-tooltip/tooltip-theme-arrows.min.css" />
	<script src="https://unpkg.com/tether@1.4.4/dist/js/tether.min.js"></script>
	<script src="https://unpkg.com/tether-drop@1.4.2/dist/js/drop.min.js"></script>
	<script src="https://unpkg.com/tether-tooltip@1.2.0/dist/js/tooltip.min.js"></script>
	<script src="/static/js/stickyfill.min.js"></script>
	<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
	<script src="/static/js/packery-mode.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>
	<script src="/static/js/jqueryui.timepicker/jquery-ui-timepicker-addon.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="/static/js/jqueryui.timepicker/jquery-ui-timepicker-addon.min.css" />
	<script src="https://unpkg.com/select2@4.0.2/dist/js/select2.min.js"></script>
	<script src="https://unpkg.com/select2@4.0.2/dist/js/i18n/ko.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/select2@4.0.2/dist/css/select2.min.css" />
	
	<script src="/static/js/jquery.formatCurrency-1.4.0.pack.min.js"></script>
	<script src="/static/js/jquery.dform/dform.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dform/dform.min.css" />
	<script src="/static/js/jquery.dcomment/dcomment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dcomment/dcomment.min.css" />
	<script src="/static/js/ajaxfileupload.min.js"></script>
	<script src="/static/js/jquery.dsave/dsave.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dsave/dsave.min.css" />
	<script src="/static/js/jquery.dmodal/dmodal.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dmodal/dmodal.min.css" />
	<script src="/static/js/jquery.dslide/dslide.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dslide/dslide.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" />
	<script src="/static/js/jquery.dcarousel/dcarousel.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dcarousel/dcarousel.min.css" />
	<script src="https://unpkg.com/plyr@3.2.4/dist/plyr.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/plyr@3.2.4/dist/plyr.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/helpers/plyr.min.css" />
	<script src="/static/js/jquery.dvideo/dvideo.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dvideo/dvideo.min.css" />
	<script src="/static/js/jquery.daudio/daudio.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.daudio/daudio.min.css" />
	<script src="/static/js/jquery.dcalendar/dcalendar.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dcalendar/dcalendar.min.css" />
	<script src="/static/js/jquery.dfullpage/dfullpage.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.dfullpage/dfullpage.min.css" />
	<script src="https://cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
	<script src="https://cdn.ckeditor.com/4.7.3/full/adapters/jquery.js"></script>
	<script src="/static/js/cke/cke.min.js"></script>
	<script src="https://unpkg.com/moment@2.22.2/min/moment.min.js"></script>
	<script src="https://unpkg.com/moment@2.22.2/locale/ko.js"></script>
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/fullcalendar@3.9.0/dist/fullcalendar.min.css" />
	<script src="https://unpkg.com/fullcalendar@3.9.0/dist/fullcalendar.js"></script>
	<script src="https://unpkg.com/fullcalendar@3.9.0/dist/gcal.min.js"></script>
	<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
	<script src="/static/js/jquery.daum.postcode/postcode.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery.daum.postcode/postcode.min.css" />
	<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.7.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/basic/fonts.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/dcore.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/basic.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/helpers/materialize.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/helpers/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/helpers/blueimp-gallery.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/helpers/select2.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/helpers/datepicker.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/basic/helpers/ckeditor.min.css" />
	<script src="/static/js/basic.min.js"></script>

	<script src="/static/js/materialize.min.js"></script>

	<script src="/static/js/dcore.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/form.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/layout.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/pages.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
<!--
	<script src="/static/js/pjax.min.js"></script>
-->
	<script src="/static/js/nav.min.js"></script>
	<script src="/static/js/main.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>    


	<script>
		(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-167588046-1', 'auto');
		$(document).bind('dofirst', function (e, t) {
			ga('send', 'pageview');
		});
	</script>
	<script src="https://wcs.naver.net/wcslog.js"></script>
	<script>
		if (!wcs_add) var wcs_add = {};
		wcs_add["wa"] = "aaf63c5d67bfd8";
		if (!_nasa) var _nasa = {};
		$(document).bind('dofirst', function (e, t) {
			wcs.inflow("www.collectluxe.com");
			wcs_do(_nasa);
			_nasa = {};
		});
	</script>
	<script type="text/javascript" src="https://pay.naver.com/customer/js/naverPayButton.js" charset="UTF-8"></script>
	<script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
	<script type="text/javascript">
		if (!wcs_add) var wcs_add = {};
		wcs_add["wa"] = "s_1ff74da8d486";
		wcs.inflow("collectluxe.com");
	</script>

</head>


<body id="page-main" class="ko page-main">
	<script type="text/javascript">
		wcs_do();
	</script>

	<div class="dcore-loading">
		<div class="progress" style="
		position: absolute;
		top: 50%;
		left: 50%;
		width: 120px;
		height: 1px;
		margin-top: 0.5px;
		margin-left: -60px;
		background-color: #f5f5f5;
	">
			<div class="indeterminate" style="background-color: #000;"></div>
		</div>
	</div>
	<div id="pjax-wrapper">
		<div id="body-info" data-id="page-main" data-class="ko page-main"></div>
		<div id="header-padding"></div>
		<div id="header">
			<div class="container">
				<div class="relative">
					<div id="logo"><a href="/"></a>
					</div>
					<div id="nav-extra-for-mobile">
						<ul>
							<li class="nav-trigger">
								<button type="button" id="nav-trigger"><span class="ico-"><i></i></span></button>
							</li>
						</ul>
					</div>
					<div class="nav-closer"></div>
					<div id="nav-group">
						<div class="outer">
							<div class="inner">
<!--nav div-->					<div id="nav">
									<ul>
										<!--어바웃어스/컨택/관리자-->
										<li class="first has-children menu-about">
											<a href="{% url 'AdminPage:aboutus' %}" class="">
												<span class="ico- collect-"></span> 
												<span class="title">About Us</span>
											</a>
											<ul class="">
												<li class="first menu-about">
													<a href="{% url 'AdminPage:aboutus' %}" class="">
														<span class="title">소개 </span>
													</a>
												</li>
												<li class="first menu-about">
													<a href="{% url 'AdminPage:ad_contact_us' %}" class="">
														<span class="title">문의사항</span>
													</a>
												</li>
												<li class="first menu-about">
													<a href="{% url 'AdminPage:ad_login' %}" class="">
														<span class="title">admin</span>
													</a>
												</li>
											</ul>
										</li>
										<!--어바웃어스/컨택/관리자-->
										<!--게시판-->
										<li class="menu-brand">
											<a href="{% url 'Board:exboard' nowpage=1%}" class="">
												<span class="ico- brand-"></span> 
												<span class="title">Board</span>
												<ul class="">
													<li class="first  menu-shop-category-217">
														<a href="{% url 'Board:exboard' nowpage=1%}" class="">
															<span class="title">운동정보</span>
														</a>
													</li>
													<li class=" menu-shop-category-96">
														<a href="{% url 'Board:fdboard' nowpage=1%}" class="">
															<span class="title">식단정보</span>
														</a>
													</li>
												</ul>
											</a>
										</li>
										<!--게시판-->
										<!--달성기록-->
										<li class="has-children">
											<a href="{% url 'DailyCheck:calendar' %}" class="">
												<span class="ico- shop-"></span>
												<span class="title">Calendar</span>
											</a>
											
											<ul class="">
												<li class="first  menu-shop-category-217">
													<a href="{% url 'DailyCheck:calendar' %}" class="">
														<span class="title">달력 보기</span>
													</a>
												</li>
												<li class=" menu-shop-category-96">
													<a href="{% url 'DailyCheck:myStatus' %}" class="">
														<span class="title">전체 달성현황</span>
													</a>
												</li>

											</ul>
											
										</li>
										<!--달성기록-->
										<!-- HOME -->
										<li class="active home menu-">
											<a href="/" class="home active current-">
												<span class="ico- home-"></span> 
												<span class="title">home</span>
											</a>
										</li>
										<!-- HOME -->
										<!--자가진단-->
										<li class="product-search-trigger no-pjax menu-shop-keyword">
											{% if request.session.session_user_id%}
											<a href="{% url 'Board:yourbody'%}" class="">
												<span class="ico- search-"></span>
												<span class="title">Diagnosis</span>
											</a>
											{%else%}
											<a href="{% url 'DailyCheck:selfCheck' %}" class="">
												<span class="ico- search-"></span>
												<span class="title">Diagnosis</span>
											</a>

											{%endif%}	

											<ul class="">
												<li class="first  menu-shop-category-217">
													<a href="{% url 'DailyCheck:selfCheck' %}" class="">
														<span class="title">간단진단</span>
													</a>
												</li>
												{% if request.session.session_user_id%}
												<li class="menu-shop-category-96">
													<a href="{% url 'Board:yourbody'%}" class="">
														<span class="title">심층진단</span>
													</a>
												</li>	
												{%endif%}	
											</ul>												
										</li>
										<!--자가진단-->
										<!--로그인/가입-->
										{% if not request.session.session_user_id%} 
										<li class="has-children">
											<span class="has-children">
												<span class="ico- user-"></span> 
												<span class="title">Member</span>
											</span>
											<ul class="">
												<li class="first menu-user-login">
													<a href="{% url 'Member:login' %}" class="">
														<span class="title">로그인</span>
													</a>
												</li>
												<li class="menu-user-signup">
													<a href="{% url 'Member:signup' %}" class="">
														<span class="title">회원가입</span>
													</a>
												</li>
											</ul>
										</li>
										{% else %}
										<li class="has-children">
											<span class="has-children">
												<span class="ico- user-"></span> 
												<span class="title">Hello {{request.session.session_user_name}}님</span>
											</span>
											<ul class="">
												<li class="first menu-user-login">
													<a href="{% url 'Member:logout' %}" class="">
														<span class="title">로그아웃</span>
													</a>
												</li>
												<li class="menu-user-signup">
													<a href="{% url 'Member:mView' %}" class="">
														<span class="title">나의 정보</span>
													</a>
												</li>
											</ul>
										</li>
										{% endif %}
										<!--로그인/가입-->
										<!--쇼핑차트-->
										<li class="menu-user-cart dcore-cart-count-outer">
											<a href="{% url 'Board:shop' %}" class="">
												<span class="ico- cart-"></span> 
												<span class="title">Shopping</span>
											</a>
												<ul class="">
													<li class=" menu-shop-category-96">
														<a href="{% url 'Board:shop' %}" class="">
															<span class="title">쇼핑추천</span>
														</a>
													</li>
												</ul>
											</a>
										</li>
										<!--쇼핑차트-->

									</ul> <!--ul-->
								</div><!-- id = nav div-->
							</div><!--inner div-->
						</div><!--outer div-->
					</div><!--nav group div-->
					
				</div>
			</div>
		</div>


		<div id="body">
			{% block mycontent %}
        <!--!!!!!!BODY 내용!!!!!!!-->
			{%endblock mycontent%}
		</div> <!-- #body -->
	</div>	
</body>

</html>