{% extends 'base.html' %}
{% block mycontent %}
			<div class="container-full">
				<div class="dcore-admin-wrap">
					<div class="product-detail-photos">
						<div class="dcarousel-custom dotted-carousel no-dots- linked- dotted- hide-on-small-only"
							data-items="5" data-target-contents="#main-slide-contents">
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/salad.gif);">
									<a href="#"
										target="_blank"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">콜렉트 본점 - 하석진 X 올리버 피플스 신제품 소개</div>
									<div class="title small-">COLLECT X OLIVER PEOPLES X TRANSITIONS</div>
									<div class="summary">로스앤젤레스 기반 브랜드, 올리버 피플스 Oliver Peoplse가 콜렉트 본점에서 하석진 씨를 만나고
										왔습니다. 신세계 본점 신관 6층에 위치한, 콜렉트 본점에서는 다양한 명품 안경 및 선글라스 브랜드를 만나보실 수 있습니다<br />
									</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/fitness.gif);">
									<a href="#" target="_blank"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">마르쿠스 마리엔펠트 30주년 기념 - CREATIVA 417 GOLD/WHITE GOLD </div>
									<div class="title small-">Marcus Marienfeld 30th Anniversary </div>
									<div class="summary">Marcus Marienfeld가 첫 제품을 선보인지 30년이 되는 2022년, 새로운 모습을 선보입니다.
										모던하게 변신한 새로운 로고와 함께 Gold &amp; White Gold으로 제작된 한정판 CREATIVA 417모델 런칭으로 30주년을
										기념합니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/shopping-cart.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">New Year, New Hope</div>
									<div class="title small-">S MAGAZINE JANUARY 2022 - ISSUE 43</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/search.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">르노 아이웨어 브랜드 데이</div>
									<div class="title small-">LUNOR BRAND DAY OCT-NOV 2021</div>
									<div class="summary">2021년, 르노 브랜드의 론칭 30주년을 맞아, 콜렉트에서 르노 아이웨어 브랜드데이를 진행합니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/gps.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">콜렉트 본점 리뉴얼 오픈 </div>
									<div class="title small-">COLLECT Main Renewal Open</div>
									<div class="summary">지난 2021년 9월 30일, 신세계 백화점 본점 본관 1층에 위치해 있던 콜렉트 본점이 신관 6층 럭셔리
										남성층으로 이전하며, 리뉴얼 오픈을 하게 되었습니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/recipe-book.gif);">
									<a href="#"></a>
								</div>
								<div class="hide carousel-contents">
									<div class="subtitle">콜렉트 대전 Art &amp; Science점 신규 오픈 </div>
									<div class="title small-">COLLECT Daejeon Art&amp;Science Open</div>
									<div class="summary">지난 2021년 8월 신세계 백화점의 13번째 점포인 대전 신세계 아트 앤 사이언스(Art &amp;
										Science)의 그랜드 오픈이 있었습니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/login.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">호프만 X 콜렉트 익스클루시브 - 신규 입고</div>
									<div class="title small-">HOFFMANN X COLLECT Exclusive Collection 2021</div>
									<div class="summary">그동안 어디에서도 볼 수 없었던 콜렉트 익스클루시브 컬러의 혼으로 만들어진,<br />
										세가지 쉐입의 하금테 모델을 콜렉트 공식 온라인 스토어에서 만나보시길 바랍니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/tech-support.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">'21 콜렉트 온라인 스토어 여름 콜렉션</div>
									<div class="title small-">2021 Summer Collection</div>
									<div class="summary">콜렉트 온라인 스토어에서는<br />
										2021 써머 콜렉션을 통해<br />
										여름의 시작을 알립니다.<br />
										<br />
										미니멀한 스타일의 선글라스부터<br />
										빛의 반짝임을 내뿜는 화려한 스타일까지<br />
										콜렉트의 엄선된 큐레이션을 만나보세요.
									</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/kiss.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">PRIVATE SERVICE LAUNCHING</div>
									<div class="title small-">코로나 걱정 없는 1:1 프라이빗 서비스</div>
									<div class="summary">콜렉트에서는 고객님의 안전을 위해, 외부인의 접촉을 제한한 1:1 프라이빗 서비스를 준비했습니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/video.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">TIFFANY&amp;Co. Brand Day</div>
									<div class="title small-">티파니앤코 브랜드 데이</div>
									<div class="summary">티파니앤코 TIFFANY&amp;Co.는 1837년에 시작하여 혁신적인 주얼리 디자인과 전문적인 장인 정신으로
										글로벌 디자인 하우스로 성장하였습니다. 희귀하고 독특한 주얼리에 대한 Charles Lewis Tiffany의 열정을 통해
										TIFFANY&amp;Co.는 세계적으로 유명한 주얼리 브랜드로써 명성을 쌓았습니다.<br />
										<br />
										티파니앤코 아이웨어의 신상품과 베스트 상품을 신세계백화점 본점에서 만나 보시기 바랍니다.
									</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(/static/img/icons/idea.gif);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">MATTTEW Brand Day</div>
									<div class="title small-">매튜 브랜드 데이</div>
									<div class="summary">톡톡 튀는 컬러로 유명한 벨기에의 프리미엄 아이웨어 브랜드 매튜(MATTTEW)가 론칭 10주년을 맞이하여 신제품
										출시기념 브랜드 데이를 진행합니다.<br />
										<br />
										이번 행사에서는 통통 튀는 신제품뿐만 아니라 메튜의 베스트 모델까지 한자리에서 만나보실 수 있습니다.
									</div>
								</div>
							</div>
						</div>
						<div class="dcarousel-custom linked- circled- hide-on-med-and-up"
							data-target-contents="#main-slide-contents">
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/97798/4_AdobeCreativeCloudExpress.gif?w=0&h=0&download=0);">
									<a href="#"
										target="_blank"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">콜렉트 본점 - 하석진 X 올리버 피플스 신제품 소개</div>
									<div class="title small-">COLLECT X OLIVER PEOPLES X TRANSITIONS</div>
									<div class="summary">로스앤젤레스 기반 브랜드, 올리버 피플스 Oliver Peoplse가 콜렉트 본점에서 하석진 씨를 만나고
										왔습니다. 신세계 본점 신관 6층에 위치한, 콜렉트 본점에서는 다양한 명품 안경 및 선글라스 브랜드를 만나보실 수 있습니다<br />
									</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/97525/20220224-%EF%A7%8D%EB%8D%88%E2%94%81%EC%EB%B8%BB%ED%EB%A0%86%ED%EB%93%83.jpg?w=0&h=0&download=0);">
									<a href="#" target="_blank"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">마르쿠스 마리엔펠트 30주년 기념 - CREATIVA 417 GOLD/WHITE GOLD </div>
									<div class="title small-">Marcus Marienfeld 30th Anniversary </div>
									<div class="summary">Marcus Marienfeld가 첫 제품을 선보인지 30년이 되는 2022년, 새로운 모습을 선보입니다.
										모던하게 변신한 새로운 로고와 함께 Gold &amp; White Gold으로 제작된 한정판 CREATIVA 417모델 런칭으로 30주년을
										기념합니다.</div>
								</div>
							</div>
							
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/95500/ssg-22-1.gif?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">New Year, New Hope</div>
									<div class="title small-">S MAGAZINE JANUARY 2022 - ISSUE 43</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/91318/lunor-mms-1.jpg?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">르노 아이웨어 브랜드 데이</div>
									<div class="title small-">LUNOR BRAND DAY OCT-NOV 2021</div>
									<div class="summary">2021년, 르노 브랜드의 론칭 30주년을 맞아, 콜렉트에서 르노 아이웨어 브랜드데이를 진행합니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/88076/2.jpeg?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">콜렉트 본점 리뉴얼 오픈 </div>
									<div class="title small-">COLLECT Main Renewal Open</div>
									<div class="summary">지난 2021년 9월 30일, 신세계 백화점 본점 본관 1층에 위치해 있던 콜렉트 본점이 신관 6층 럭셔리
										남성층으로 이전하며, 리뉴얼 오픈을 하게 되었습니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/87838/1.jpeg?w=0&h=0&download=0);">
									<a href="#"></a>
								</div>
								<div class="hide carousel-contents">
									<div class="subtitle">콜렉트 대전 Art &amp; Science점 신규 오픈 </div>
									<div class="title small-">COLLECT Daejeon Art&amp;Science Open</div>
									<div class="summary">지난 2021년 8월 신세계 백화점의 13번째 점포인 대전 신세계 아트 앤 사이언스(Art &amp;
										Science)의 그랜드 오픈이 있었습니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/85472/DSC08583.JPG?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">호프만 X 콜렉트 익스클루시브 - 신규 입고</div>
									<div class="title small-">HOFFMANN X COLLECT Exclusive Collection 2021</div>
									<div class="summary">그동안 어디에서도 볼 수 없었던 콜렉트 익스클루시브 컬러의 혼으로 만들어진,<br />
										세가지 쉐입의 하금테 모델을 콜렉트 공식 온라인 스토어에서 만나보시길 바랍니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/84090/main.jpg?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">'21 콜렉트 온라인 스토어 여름 콜렉션</div>
									<div class="title small-">2021 Summer Collection</div>
									<div class="summary">콜렉트 온라인 스토어에서는<br />
										2021 써머 콜렉션을 통해<br />
										여름의 시작을 알립니다.<br />
										<br />
										미니멀한 스타일의 선글라스부터<br />
										빛의 반짝임을 내뿜는 화려한 스타일까지<br />
										콜렉트의 엄선된 큐레이션을 만나보세요.
									</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/49064/sst+private+service.jpeg?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">PRIVATE SERVICE LAUNCHING</div>
									<div class="title small-">코로나 걱정 없는 1:1 프라이빗 서비스</div>
									<div class="summary">콜렉트에서는 고객님의 안전을 위해, 외부인의 접촉을 제한한 1:1 프라이빗 서비스를 준비했습니다.</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/72952/s-d%EC%EC%8A%9C.png?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">TIFFANY&amp;Co. Brand Day</div>
									<div class="title small-">티파니앤코 브랜드 데이</div>
									<div class="summary">티파니앤코 TIFFANY&amp;Co.는 1837년에 시작하여 혁신적인 주얼리 디자인과 전문적인 장인 정신으로
										글로벌 디자인 하우스로 성장하였습니다. 희귀하고 독특한 주얼리에 대한 Charles Lewis Tiffany의 열정을 통해
										TIFFANY&amp;Co.는 세계적으로 유명한 주얼리 브랜드로써 명성을 쌓았습니다.<br />
										<br />
										티파니앤코 아이웨어의 신상품과 베스트 상품을 신세계백화점 본점에서 만나 보시기 바랍니다.
									</div>
								</div>
							</div>
							<div class="cover dcore-zoom-in">
								<div class="image dcore-zoom-cover"
									style="background-image: url(https://www.collectluxe.com/api/dsavedownload/image/72302/matttew-main.png?w=0&h=0&download=0);">
									<a href="#"></a></div>
								<div class="hide carousel-contents">
									<div class="subtitle">MATTTEW Brand Day</div>
									<div class="title small-">매튜 브랜드 데이</div>
									<div class="summary">톡톡 튀는 컬러로 유명한 벨기에의 프리미엄 아이웨어 브랜드 매튜(MATTTEW)가 론칭 10주년을 맞이하여 신제품
										출시기념 브랜드 데이를 진행합니다.<br />
										<br />
										이번 행사에서는 통통 튀는 신제품뿐만 아니라 메튜의 베스트 모델까지 한자리에서 만나보실 수 있습니다.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		{% endblock mycontent %}
		