{% extends 'base.html' %}
{% block mycontent %}

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/calendar.css" />
    
    <script>
        

    </script>
    
    <div class='rap'>
        <div class="headerCal">
            <div class="btnCal prevDay"></div>
            <h2 class='dateTitle'></h2>
            <div class="btnCal nextDay"></div>
        </div>
        
        <div class="grid dateHead">
            <div>일</div>
            <div>월</div>
            <div>화</div>
            <div>수</div>
            <div>목</div>
            <div>금</div>
            <div>토</div>
        </div>
        
        <div class="grid dateBoard"></div>
    </div>
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
        
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <br>
            <p  id='madalshows'></p>
        </div>
        
    </div>
    

{% comment %} 

    <!-- The imgModal -->
    <div id="imgModal" class="modal">
        
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <br>
            <p  id='madalshows'>
                <a href="#">
                    <ul><img width=200 height=200 src='{{bexer.imgName}}'></ul>               
                    <ul>현재 몸무게</ul>
                    <ul>{{bexer.cur_weight}}</ul>
                </a>
            </p>
        </div>
        
    </div> {% endcomment %}
    
    <script src="/static/js/calendar.js"></script>
    
    <script>
        // 모달
        function selectD(date){
            const dateToArray = date.split(',')

            
            modal.style.display = "block"; 
            //imgmodal.style.display = "none";
            var clickeddate = dateToArray[0]+'-'+dateToArray[1]+'-'+dateToArray[2]
            // alert(clickeddate)
            var inserttxt = `<ul>`+dateToArray[0]+'-'+dateToArray[1]+'-'+dateToArray[2]+`</ul>`
            var inserttxt2 = `<ul>`+dateToArray[0]+'-'+dateToArray[1]+'-'+dateToArray[2]+`</ul>`

            var inserttxt2=''
            $.ajax({
                url : "/dailycheck/"+clickeddate+"/imgCheck/",
                dataType:'json',
                success:function(data){
                    console.log(data[0].day_img)
                    if(data[0].day_img!='/static/img/mem01.png'){
                        inserttxt +=    '<ul><a href="/dailycheck/'+clickeddate+'/mealCheck/">식단</a></ul>'
                        inserttxt +=    '<ul><a href="/dailycheck/'+clickeddate+'/exerciseCheck/">운동</a></ul>'
                        inserttxt +=    '<div style="padding-top:10px"><ul><img width=150 height=200 alt="없음" src="'+data[0].day_img+'"></ul>'
                        inserttxt +=    '<ul> 몸무게 : '+data[0].cur_weight+'</ul></div>'
                        }
                        else{
                        var urlname= "/dailycheck/"+clickeddate+"/imgCheck/"
                        inserttxt+='<form method = "POST" action = "'+urlname+'" name="imgSave" id="imgSave" enctype="multipart/form-data">'
                        inserttxt+='{% csrf_token %}'    
                        inserttxt +=    '<ul><a href="/dailycheck/'+clickeddate+'/mealCheck/">식단</a></ul>'
                        inserttxt +=    '<ul><a href="/dailycheck/'+clickeddate+'/exerciseCheck/">운동</a></ul>'
                        inserttxt +=    '<ul>이미지 : <input type="file" name="file" id="file"></ul>'
                        inserttxt +=    '<ul>몸무게 : <input type="text" name="weight" id="weight" value="'+data[0].cur_weight+'"></ul>'
                        inserttxt+='<button type="button" class="saveBtn" id="saveBtn" onclick="saveBtn()">Save</button>'
                        
                    }
                        
                    $("#madalshows").html(inserttxt)
                    
                    $('#saveBtn').click(function(){
                        if($('#weight').val()==0){
                            alert('몸무게를 정확하게 입력하세요.')
                            $('#weight').focus()
                            return false
            
                        }
                        document.imgSave.submit()
                    })

                },
                error:function(){
                    console.log('실패')
                }
            })//ajax 

            
            
        }
        
        
        // Get the modal
        var modal = document.getElementById("myModal");
        var imgmodal = document.getElementById("imgModal");
 
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    
{% endblock mycontent %}