{% extends 'base.html' %}
{% block mycontent %}

<!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dailycheck2.css" />
<script src="/static/js/dailycheckExercise.js"></script>
<script src="/static/js/dailycheckExercise_modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>


<main>	
	<div id="box1">
        
        <canvas id="myChart" >
            
        </canvas> 
        <div id='labeltext' class="label-text">
        </div>
        
        
        
        <table id="progressbars">
            
        </table>
        <br>
        <button type="button" style='background-color:#b3dae9;' id='health_result'>매일 운동으로 {{goal_burn_kcal}}kcal를 소모하려면?</button>
        <br>
        <button type="button" style='background-color:#86c7cc;' id='aerobic'>유산소운동</button>
        <button type="button" style='background-color:#86c7cc;' id='anaerobic'>무산소운동</button>
        <br><br>
        <table id='health_cont'>
        </table>
        <table id='aerobic_cont'>
        </table>
        <table id='anaerobic_cont'>
        </table>
            

	</div>
	
	<div id="box2">
		<table id = "inputsection">
            
            
            {%if b_list%}
            {%for bexer in b_list%}
            <tr>                
                    <td width=250 height=250 style='background-color:#A0DDE0;'> 
                        <a href='{%url "DailyCheck:exerciseView" sdate bexer.ex_no %}'>
                        <ul>{{bexer.ex_name}}</ul>
                        <ul>{{bexer.ex_counts}}회</ul>               
                        <ul>{{bexer.burned_kcal}}kcal</ul>               
                        </a>
                    
                    </td>
                    
            </tr>
            {%endfor%}
            {%endif%}
            <tr>
                <td id='addExercise' width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>
            </tr>
            <tr id="gocalendarimg">
                <td><img onclick="gocalendar()" width=50 height=50 src='/static/img/basic/gocalendar_icon.png'></td>
            </tr>
        </table>
        <br>
	</div>


    <!-- The Modal1 -->
    <div id="myModal" class="modal">
        
        <!-- Modal content1 -->
        <div id='modalcontent' class="modal-content">
            <span class="close">&times;</span>
            <br>
            <!--activity 고르기-->
            <div class='sel_box' name='activitybox'>
                <h3 class="join_title">
                    <label>운동항목</label>
                    <br>
                    <p id='des'>원하는 운동항목을 선택하세요.</p>
                </h3>
                <div class = "activitysel">
                    <ul class="activity" name="activity" value="bicycling"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>bicycling</ul>
                    <ul class="activity" name="activity" value="conditioning"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>conditioning exercise</ul>
                    <ul class="activity" name="activity" value="healthclub"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>health club exercise</ul>
                    <ul class="activity" name="activity" value="running"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>running</ul>
                    <ul class="activity" name="activity" value="sports"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>sports</ul>
                    <ul class="activity" name="activity" value="walking"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>walking</ul>
                    <ul class="activity" name="activity" value="water"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>water activities</ul>
                    <ul class="activity" name="activity" value="winter"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>winter activities</ul>
                </div>
                <br>
                <button class="nextBtn" id='nextBtn' onclick="nextBtn()">Next</button>

            </div>
            <br>
    
        </div>
    </div>

    <div id="myModal2_1" class="modal">
        <!-- Modal content2 -->
        <div id='modalcontent2_1' class="modal-content">
            <span class="close2_1">&times;</span>
            <br>
            <!--activity 고르기-->
            <div class='sel_box' name='targetbox'>
                <h3 class="join_title">
                    <label>타켓운동</label>
                    <br>
                    <p id='des'></p>
                </h3>
                <div id="targetsel" class = "targetsel">
                    <br>
                    <ul><p id='target1' style="display:inline" value="{{user_category}}">{{user_category}}</p> 위주의 운동을 선호하십니다.</ul>
                    <ul><p id='target2' style="display:inline" value="{{user_category}}">{{user_category}}</p> 위주의 운동을 선택하시겠습니까?</ul>
                </div>
                <br>
                <button class="prevBtn2" id='prevBtn2' onclick="prevBtn2()">Prev</button>
                <button class="okBtn" id='okBtn' onclick="okBtn()">Ok</button>
                <button class="noBtn" id='noBtn' onclick="noBtn()">No</button>

            </div>
            <br>
        
        </div>
    </div>


    <div id="myModal2" class="modal">
        <!-- Modal content2 -->
        <div id='modalcontent2' class="modal-content">
            <span class="close2">&times;</span>
            <br>
            <!--activity 고르기-->
            <div class='sel_box' name='exercisebox'>
                <h3 class="join_title">
                    <label>운동명</label>
                    <br>
                    <p id='des'>원하는 운동을 선택하세요.</p>
                </h3>
                <div id="exerciseysel" class = "exerciseysel">

                </div>
                <br>
                <button class="prevBtn" id='prevBtn' onclick="prevBtn()">Prev</button>
                <button class="nextBtn2" id='nextBtn2' onclick="nextBtn2()">Next</button>

            </div>
            <br>
        
        </div>
    </div>


    <div id="myModal3" class="modal">
        <!-- Modal content3 -->
        <div id='modalcontent3' class="modal-save-content">
            
            <span class="close3">&times;</span>
            <br>
            <!--activity 고르기-->
            <form method = "POST" action = "{%url 'DailyCheck:saveBtn' sdate %}" id="wExercise">
                {% csrf_token %}
                <div class='sel_box' name='savebox'>
                    <h3 class="join_title">
                        <label>운동기록</label>
                        <br>
                        <p id='des'>운동을 기록하세요.</p>
                    </h3>
                    <div class = "savecontent">
                        <table id="savetable" class="savetable" style="margin: 0 auto">
                            <tr id="datetable">
                                <td style="float:left">
                                    <label>운동 날짜</label>
                                </td>
                                <td>
                                    <input type="text" class="inputbox"  id="date" name="date" value="{{sdate}}" readonly>
                                </td>
                            </tr>
                            <tr id="nametable">
                                <td style="float:left"> 
                                    <label>운동이름</label>
                                </td>
                                <td>
                                    <input type="text" class="inputbox"  id="saveexercise" name="saveexercise" readonly><br>
                                </td>
                            </tr>
                            <tr id="leveltable">
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="contenttable">
                                <td colspan="2" style="float:left">
                                    <label style="font-weight:bold">내 운동목표</label>                                
                                </td>
                            </tr>
                            <div class="savecontent2">
                                <tr>
                                    <td style="float:left">
                                        <label for="goal_kcal">목표칼로리</label>
                                    </td>
                                    <td>
                                        <input type="number" class="inputbox"  id="goal_kcal" name="goal_kcal" value="" required placeholder="태우고자하는 목표칼로리를 입력하세요.">
                                    </td>
                                </tr>
                            </div>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="contenttable2">
                                <td colspan="2" style="float:left">
                                    <label style="font-weight:bold">내 운동기록</label>                                
                                </td>
                            </tr>
                            <div class="savecontent2_2">
                                <tr>
                                    <td style="float:left">
                                        <label for="sets2" >세트 수</label>
                                    </td>
                                    <td>
                                        <input type="number" class="inputbox"  id="sets2" name="sets2" value="" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="float:left">
                                        <label for="counts2">횟수/한 세트 당</label>
                                    </td>
                                    <td>
                                        <input type="number" class="inputbox"  id="counts2" name="counts2" value="" required><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="float:left">
                                        <label for="ex_time2">시간/한 세트 당(분)</label>
                                    </td>
                                    <td>
                                        <input type="number" class="inputbox"  id="ex_time2" name="ex_time2" value="" required><br>
                                    </td>
                                </tr>
                            </div>
                            
                        </table>
                    </div>
                    <br>
                    <button type="button" class="prevBtn22" id='prevBtn22' onclick="prevBtn22()">Prev</button>
                    <button type="submit" class="saveBtn" id='saveBtn' onclick="saveBtn()">Save</button>

                </div>
                <br>
            </form>
        </div>
    </div>
    <script>
        // 모달
        $(function(){
            var activityName
            var exerciseName
            var exercisenumber
            var target1Name
            $('#health_result').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:health_result"%}',
                    dataType:'json',
                    success:function(data){
                        var str=''
                        for(var i=0;i<data.length;i++){
                            console.log(data[i].ex_name0)
                            str+='<tr>'
                            str+='<td>'+data[i].ex_name0+'<br>'+data[i].level0+'</td>'
                            str+='<td>'+data[i].health_time0+'분</td>'
                            str+='<td>'+data[i].ex_name1+'<br>'+data[i].level1+'</td>'
                            str+='<td>'+data[i].health_time1+'분</td>'
                            str+='</tr>'
                        }
                        $('#health_cont').html(str)
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//health_result function
            $('#aerobic').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:aerobic"%}',
                    dataType:'json',
                    success:function(data){
                        var str=''
                        for(var i=0;i<data.length;i++){
                            console.log(data[i].ex_name0)
                            str+='<tr>'
                            str+='<td>'+data[i].ex_name0+'<br>'+data[i].level0+'</td>'
                            str+='<td>'+data[i].health_time0+'분</td>'
                            str+='<td>'+data[i].ex_name1+'<br>'+data[i].level1+'</td>'
                            str+='<td>'+data[i].health_time1+'분</td>'
                            str+='</tr>'
                        }
                        $('#aerobic_cont').html(str)
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//aerobic function
            $('#anaerobic').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:anaerobic"%}',
                    dataType:'json',
                    success:function(data){
                        var str=''
                        for(var i=0;i<data.length;i++){
                            console.log(data[i].ex_name0)
                            str+='<tr>'
                            str+='<td>'+data[i].ex_name0+'<br>'+data[i].level0+'</td>'
                            str+='<td>'+data[i].health_time0+'분</td>'
                            str+='<td>'+data[i].ex_name1+'<br>'+data[i].level1+'</td>'
                            str+='<td>'+data[i].health_time1+'분</td>'
                            str+='</tr>'
                        }
                        $('#anaerobic_cont').html(str)
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//anaerobic function
            



            $(document).on('click','#health_result',function(){
                $('#health_result').toggleClass('on333')
                $('#health_cont').toggleClass('on3')
                $('#aerobic_cont').removeClass('on4')
                $('#anaerobic_cont').removeClass('on5')
                if(on3.className=='on3'){
                    on3.style.display = "block";
                    on333.style.backgroundColor="#a4dfba"
                }else{
                    on3.style.display="none"
                    on333.style.backgroundColor="#b3dae9"
                }
                if(on4.className=='on4'){
                    on4.style.display = "block";
                    on444.style.backgroundColor="#84b696"
                    
                }else{
                    on4.style.display="none"
                    on444.style.backgroundColor="#86c7cc"
                }
                if(on5.className=='on5'){
                    on5.style.display = "block";
                    on555.style.backgroundColor="#84b696"
                }else{
                    on5.style.display="none"
                    on555.style.backgroundColor="#86c7cc"
                }
            })
            $(document).on('click','#aerobic',function(){
                $('#aerobic_cont').toggleClass('on4')
                $('#health_cont').removeClass('on3')
                $('#anaerobic_cont').removeClass('on5')
                if(on3.className=='on3'){
                    on3.style.display = "block";
                    on333.style.backgroundColor="#a4dfba"
                }else{
                    on3.style.display="none"
                    on333.style.backgroundColor="#b3dae9"
                }
                if(on4.className=='on4'){
                    on4.style.display = "block";
                    on444.style.backgroundColor="#84b696"
                    
                }else{
                    on4.style.display="none"
                    on444.style.backgroundColor="#86c7cc"
                }
                if(on5.className=='on5'){
                    on5.style.display = "block";
                    on555.style.backgroundColor="#84b696"
                }else{
                    on5.style.display="none"
                    on555.style.backgroundColor="#86c7cc"
                }
            })
            $(document).on('click','#anaerobic',function(){
                $('#anaerobic_cont').toggleClass('on5')
                $('#health_cont').removeClass('on3')
                $('#aerobic_cont').removeClass('on4')
                if(on3.className=='on3'){
                    on3.style.display = "block";
                    on333.style.backgroundColor="#a4dfba"
                }else{
                    on3.style.display="none"
                    on333.style.backgroundColor="#b3dae9"
                }
                if(on4.className=='on4'){
                    on4.style.display = "block";
                    on444.style.backgroundColor="#84b696"
                    
                }else{
                    on4.style.display="none"
                    on444.style.backgroundColor="#86c7cc"
                }
                if(on5.className=='on5'){
                    on5.style.display = "block";
                    on555.style.backgroundColor="#84b696"
                }else{
                    on5.style.display="none"
                    on555.style.backgroundColor="#86c7cc"
                }
            })


            $(document).on("click",".activity",function(){
                $('.activitysel').find('ul').not(this).removeClass('on')
                $(this).toggleClass("on")
                activityName = $('.activity.on').text();
                console.log(activityName)
            })
            $(document).on("click",".exercise",function(){
                $('.exerciseysel').find('ul').not(this).removeClass('on2')
                $(this).toggleClass("on2")
                exerciseName = $('.exercise.on2').text();
                console.log(exerciseName)
            })
            $('#nextBtn').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(activityName)
                        if(activityName=='health club exercise'){
                            target1Name = $('#target1').text()
                            modal.style.display = "none";
                            modal2_1.style.display = "block";
                        }
                        else{
                            modal.style.display = "none";
                            modal2.style.display = "block";
                            var str=''
                            for(let i=0;i<data.length;i++){
                                if(data[i].activity==activityName){
                                    str+='<ul class="exercise" name="exercise"><img class="imgtt" width=25 height=25 src="/static/img/basic/check2.png">'+data[i].ex_name+'</ul>'
                                }
                            }
                            $('#exerciseysel').html(str)

                        }
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//nextBtn function
            $('#okBtn').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(activityName)
                        console.log(data)
                        if(activityName=='health club exercise'){
                            modal.style.display = "none";
                            modal2.style.display = "block";
                            var str=''
                            for(let i=0;i<data.length;i++){
                                if(target1Name=='전신'){
                                    if(data[i].activity==activityName){
                                        str+='<ul class="exercise" name="exercise"><img class="imgtt" width=25 height=25 src="/static/img/basic/check2.png">'+data[i].ex_name+'</ul>'
                                    }

                                }else{
                                    if(data[i].activity==activityName && data[i].target_category==target1Name){
                                        str+='<ul class="exercise" name="exercise"><img class="imgtt" width=25 height=25 src="/static/img/basic/check2.png">'+data[i].ex_name+'</ul>'
                                    }
                                }
                            
                            }
                            $('#exerciseysel').html(str)
                        }
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//okBtn function

            $('#noBtn').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(activityName)
                        if(activityName=='health club exercise'){
                            modal.style.display = "none";
                            modal2.style.display = "block";
                            var str=''
                            for(let i=0;i<data.length;i++){
                                if(data[i].activity==activityName){
                                    str+='<ul class="exercise" name="exercise"><img class="imgtt" width=25 height=25 src="/static/img/basic/check2.png">'+data[i].ex_name+'</ul>'
                                }
                            }
                            $('#exerciseysel').html(str)
                        }
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//okBtn function

            $('#prevBtn22').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        modal3.style.display = "none";
                        modal2.style.display = "block";
                        console.log(activityName)
                        var str=''
                        let ex=[]
                        for(let i=0;i<data.length;i++){
                            if(data[i].activity==activityName){
                                str+='<ul class="exercise" name="exercise"><img class="imgtt" width=25 height=25 src="/static/img/basic/check2.png">'+data[i].ex_name+'</ul>'
                            }
                        }
                        $('#exerciseysel').html(str)
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//prevBtn22 function
           
            $('#nextBtn2').click(function(){
                $('#saveexercise').attr('value',exerciseName); 
                $.ajax({
                    url:'{%url "DailyCheck:exercise2"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(exerciseName)
                        str=''
                        str+='<td style="float:left">'
                        str+='<label>운동강도</label>'
                        str+='</td>'
                        str+='<td>'
                        str+='<select style="float:left" id="savelevel" name="savelevel" required aria-label="운동강도" ><br>'
                        //str+='<option disabled selected>운동강도</option>'
                        for(let i=0;i<data.length;i++){
                            if(data[i].ex_name==exerciseName){
                                if(data[i].level==2){
                                    str+='<option value="2">저강도</option>'
                                }
                                else if(data[i].level==3){
                                    str+='<option value="3">중강도</option>'
                                }
                                else if(data[i].level==6){
                                    str+='<option value="6">고강도</option>'
                                }
                            }
                        }
                        str+='</select>'
                        str+='</td>'
                        $('#leveltable').html(str)
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            

            })
        })

        function addExercise(){
            modal.style.display = "block";
            labeltext.style.display = "none";
        }
        function viewBtn(){
            modal4.style.display = "block";
            labeltext.style.display = "none";
        }

        function prevBtn(){
            modal.style.display = "block";
            modal2.style.display = "none";
            modal2_1.style.display = "none";
        }
        function prevBtn2(){
            modal.style.display = "block";
            modal2.style.display = "none";
            modal2_1.style.display = "none";
        }
        function nextBtn2(){
            modal.style.display = "none";
            modal2.style.display = "none";
            modal2_1.style.display = "none";
            modal3.style.display = "block";
            
        }


        function saveBtn(){
            modal3.style.display="none";

        }
        function gocalendar(){
            location.href="{%url 'DailyCheck:calendar'%}"

        }

        var on3=document.getElementById('health_cont')
        var on4=document.getElementById('aerobic_cont')
        var on5=document.getElementById('anaerobic_cont')
        var on333=document.getElementById('health_result')
        var on444=document.getElementById('aerobic')
        var on555=document.getElementById('anaerobic')

        // Get the modal
        var modal = document.getElementById("myModal");
        var modal2 = document.getElementById("myModal2");
        var modal2_1 = document.getElementById("myModal2_1");
        var modal3 = document.getElementById("myModal3");
        var labeltext = document.getElementById("labeltext");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var span2 = document.getElementsByClassName("close2")[0];
        var span2_1 = document.getElementsByClassName("close2_1")[0];
        var span3 = document.getElementsByClassName("close3")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:exerciseCheck' sdate %}"
        }
        span2.onclick = function() {
            modal2.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:exerciseCheck' sdate %}"
        }
        span2_1.onclick = function() {
            modal2_1.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:exerciseCheck' sdate %}"
        }
        span3.onclick = function() {
            modal3.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:exerciseCheck' sdate %}"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{%url 'DailyCheck:exerciseCheck' sdate %}"
            }
            if (event.target == modal2) {
                modal2.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{%url 'DailyCheck:exerciseCheck' sdate %}"
            }
            if (event.target == modal3) {
                modal3.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{%url 'DailyCheck:exerciseCheck' sdate %}"
            }
        }
    </script>
</main>

{% endblock mycontent %}