{% extends 'base.html' %}
{% block mycontent %}


{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dailycheck2_update.css" />
<script src="/static/js/dailycheckExercise.js"></script>
<script src="/static/js/dailycheckExercise_modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<main>	
	<div id="box1">
        
            <canvas id="myChart" >
               
            </canvas> 
            <div id='labeltext' class="label-text">
            </div>
        
       

        <table id="progressbars">

        </table>


	</div>
	
	<div id="box2">
		<table id = "inputsection">
            
            
            {%if b_list%}
            {%for bexer in b_list%}
            <tr>                
                    <td width=250 height=250 style='background-color:#A0DDE0;'> 
                        <a href="#">
                        <ul>{{bexer.ex_name}}</ul>
                        <ul>{{bexer.ex_counts}}회</ul>               
                        <ul>{{bexer.burned_kcal}}kcal</ul>               
                        </a>
                    
                    </td>
                    
            </tr>
            {%endfor%}
            {%endif%}
            <tr>
                <td id='addExercise' width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>
            </tr>
        </table>
	</div>

    <div id="myModal3" class="modal">
        <!-- Modal content3 -->
        <div id='modalcontent3' class="modal-save-content">
            
            <span class="close3">&times;</span>
            <br>
            <!--activity 고르기-->
            <form method = "POST" action = "{%url 'DailyCheck:exerciseUpdate' sdate ex_no%}" id="wExercise">
                {% csrf_token %}
                <div class='sel_box' name='savebox' >
                    
                    <h3 class="join_title">
                        {% comment %} <input type='hidden' name='id' value="{{request.session.session_id}}"> {% endcomment %}
                        <label>기록수정</label>
                        <br>
                        <p id='des'>운동을 수정하세요.</p>
                    </h3>
                    <div class = "savecontent">
                        <table id="savetable" class="savetable" style="margin: 0 auto">
                            <tr id="datetable">
                                <td style="float:left">
                                    <label>운동 날짜</label>
                                </td>
                                <td>
                                    {%if sdate%}
                                    <input type="text" class="inputbox"  id="date" name="date" value="{{sdate}}" readonly>
                                    {%endif%}
                                </td>
                            </tr>
                            {%if myList%}
                            <tr id="nametable">
                                <td style="float:left">
                                    <label>운동이름</label>
                                </td>
                                <td>
                                    <input type="text" class="inputbox"  id="saveexercise" name="saveexercise" value="{{ex_name}}" readonly><br>
                                </td>
                            </tr>
                            <tr id="leveltable">
                                <td style="float:left">
                                    <label>운동강도</label>
                                </td>
                                <td>
                                    <select style="float:left" id="savelevel" name="savelevel" aria-label="운동강도"><br>
                                        {%if level == 2%}
                                            <option value="2">저강도</option>
                                        {%elif level == 3%}
                                            <option value="3">중강도</option>
                                        {%elif level == 6%}
                                            <option value="6">고강도</option>
                                        {%endif%}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="contenttable">
                                <td colsspan="2" style="float:left">
                                    <label style="font-weight:bold">내 운동목표</label>                                
                                </td>
                            </tr>
                            <div class="savecontent2">
                                <tr>
                                    <td style="float:left">
                                        <label for="goal_kcal">목표칼로리</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="goal_kcal" name="goal_kcal" value="{{myList.goal_kcal}}" required>
                                    </td>
                                </tr>
                            </div>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr id="contenttable2">
                                <td colsspan="2" style="float:left">
                                    <label style="font-weight:bold">내 운동기록</label>                                
                                </td>
                            </tr>
                            <div class="savecontent2_2">
                                <tr>
                                    <td style="float:left">
                                        <label for="sets2">세트 수</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="sets2" name="sets2" value="{{ex_set}}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="float:left">
                                        <label for="counts2">횟수/한 세트 당</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="counts2" name="counts2" value="{{ex_count}}" required><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="float:left">
                                        <label for="ex_time2">시간/한 세트 당(분)</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="ex_time2" name="ex_time2" value="{{myList.ex_time}}" required><br>
                                    </td>
                                </tr>
                            </div>
                            
                        </table>
                    </div>
                    {%endif%}
                    <br>
                    <button type="button" class="deleteBtn" id='deleteBtn' onclick="deleteBtn()">Delete</button>
                    <button type="submit" class="saveBtn" id='saveBtn' onclick="saveBtn()">Save</button>

                </div>
                <br>
            </form>
        </div>
    </div>
    <script>
        // 모달
        $(function(){
            $('#deleteBtn').click(function(){
                Swal.fire({
                    title: '정말로 운동기록을 삭제 하시겠습니까?',
                    text: '다시 되돌릴 수 없습니다. 신중하세요.',
                    icon: 'warning',
                    
                    showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
                    confirmButtonColor: '#87CEEB', // confrim 버튼 색깔 지정
                    //cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
                    confirmButtonText: '네', // confirm 버튼 텍스트 지정
                    cancelButtonText: '아니오', // cancel 버튼 텍스트 지정
                    
                 }).then(result => {
                    if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
                       location.href="{% url 'DailyCheck:exerciseDelete' sdate ex_no %}"
                    }
                 });
            })
        })

        function saveBtn(){
            modal3.style.display="none";
        }

        
        // Get the modal
        var modal3 = document.getElementById("myModal3");
        var labeltext = document.getElementById("labeltext");

        // Get the <span> element that closes the modal
        var span3 = document.getElementsByClassName("close3")[0];
        // When the user clicks on <span> (x), close the modal
        span3.onclick = function() {
            modal3.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{% url 'DailyCheck:exerciseCheck' sdate %}"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal3) {
                modal3.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{% url 'DailyCheck:exerciseCheck' sdate %}"
            }
        }
    </script>
</main>

{% endblock mycontent %}