{% extends 'base.html' %}
{% block mycontent %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dailycheck.css" />
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/dailycheckExercise.js"></script>



<main>	
	<div id="box1">
        
            <canvas id="myChart" >
               
            </canvas> 

        
       

        

        </table>


	</div>
	
	<div id="box2">
		<table id = "inputsection">
            <tr>                
                <td width=250 height=250 style='background-color:#A0DDE0;'> 
                    <a href="#">
                    <ul>스쿼트</ul>
                    <ul>200개</ul>               
                    <ul>150kcal</ul>               
                    </a>
                
                </td>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>
            </tr>
            <tr>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>

            </tr>
        </table>
	</div>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <br>
            <h2>여기에 입력하시면됩니다</h2>


            
        </div>
        
    </div>
    <script>
        // 모달
        function addExercise(){
            modal.style.display = "block";
        }
        // Get the modal
        var modal = document.getElementById("myModal");
 
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>







</main>

{% endblock mycontent %}