{% extends 'base.html' %}
{% block mycontent %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dailycheck2.css" />
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/dailycheckExercise.js"></script>
<script src="/static/js/dailycheckExercise_modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<main>	
	
	<div id="box2">
		<table id = "inputsection">
            <tr>                
                    <td width=250 height=250 style='background-color:#A0DDE0;'> 
                        <a href="#">
                        <ul>이미지</ul>
                        <ul>현재몸무게</ul>               
                        </a>
                    </td>
                    <td id='addImg' width=250 height=250 style='background-color:#eee;'><img onclick="addImg()" width=50 height=50 src='/static/img/basic/plus.png'></td>
            </tr>
        </table>
	</div>

    <div id="myModal3" class="modal">
        <!-- Modal content3 -->
        <div id='modalcontent3' class="modal-save-content">
            
            <span class="close3">&times;</span>
            <br>
            <!--activity 고르기-->
            <form method = "POST" action = "{%url 'DailyCheck:imgCheck' sdate %}" id="wExercise">
                {% csrf_token %}
                <div class='sel_box' name='savebox'>
                    
                    <h3 class="join_title">
                        {% comment %} <input type='hidden' name='id' value="{{request.session.session_id}}"> {% endcomment %}
                        <label>변화상태</label>
                        <br>
                        <p id='des'>변화상태를 입력하세요.</p>
                    </h3>
                    <div class = "savecontent">
                        <table id="savetable" class="savetable">
                            <tr>
                                <td>
                                    <label>이미지</label>
                                </td>
                                <td>
                                  <input type="file" name="file" id="file">
                                </td>
                              </tr>
                            <tr>
                                <td>
                                    <label>몸무게</label>
                                </td>
                                <td>
                                    <input type="text" name="weight" id="weight" required>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <button type="button" class="cancelBtn" id='cancelBtn' onclick="cancelBtn()">Cancel</button>
                    <button type="submit" class="saveBtn" id='saveBtn' onclick="saveBtn()">Save</button>

                </div>
                <br>
            </form>
        </div>
    </div>
    <script>
        // 모달
        $(function(){
            $('#cancelBtn').click(function(){
                if (confirm('수정을 취소하시겠습니까?')){
                    location.href="{% url 'DailyCheck:imgCheck' sdate %}"
                }
            })
        })
        function addImg(){
            modal3.style.display = "block";
        }

        function saveBtn(){
            modal3.style.display="none";
        }
        
        
        // Get the modal
        var modal3 = document.getElementById("myModal3");
        var labeltext = document.getElementById("labeltext");

        // Get the <span> element that closes the modal
        var span3 = document.getElementsByClassName("close3")[0];
        // When the user clicks on <span> (x), close the modal
        span3.onclick = function() {
            modal3.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{% url 'DailyCheck:imgCheck' sdate %}"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal3) {
                modal3.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{% url 'DailyCheck:imgCheck' sdate %}"
            }
        }
    </script>
</main>

{% endblock mycontent %}