{% extends 'base.html' %}
{% block mycontent %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/dailycheck.css" />
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/dailycheckMeal.js"></script>

<style>
    #mealbox1{
        float: left;
        width: 65%;
    }
    #mealbox2{
        width: 35%;
        float: left;
    }
    #m_select{
        width:120px;
        height:40px;
        text-align: center;
        font-size: 15px;

    }
    #mealdb{
        border: 0px solid black;
        border-collapse: collapse;
        width: 90%;
        text-align: center;
    }
    #mealdb_input{
        margin: 0 auto;
    }
    #meal_input{
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
    }
    .m_in_tb thead tr th{
        border-bottom: 2px solid gray;
        border-top: 2px solid gray;
        padding: 10px;
    }
    .m_in_tb tbody tr td{
        border-bottom: 1px solid black;
        padding: 10px;
    }
    
    .mealdbtb{
        margin: 0 auto;
        border: 1px solid black;
        border-collapse: collapse;
        text-align:center;
    }
    .mealdbtb tbody tr td{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 10px;
    }
    #searchbox{
        margin:0 auto;
        margin-left: 50px;
    }
    

</style>

<main>	
	<div id="box1">
        
            <canvas id="myChart" >
               
            </canvas> 
       

        <table id="progressbars">

        </table>


	</div>
	
	<div id="box2">
		<table id = "inputsection">
            <tr>                
                <td width=250 height=250 style='background-color:#A0DDE0;'> 
                    <a href="#">
                    <ul>아침 200kcal</ul>
                    <ul>탄수화물: 30g</ul>
                    <ul>단백질: 10g</ul>
                    <ul>지방: 5g</ul>                 
                    </a>
                
                </td>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addMeal()" width=50 height=50 src='/static/img/basic/plus.png'></td>
            </tr>
            <tr>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addMeal()" width=50 height=50 src='/static/img/basic/plus.png'></td>
                <td width=250 height=250 style='background-color:#eee;'><img onclick="addMeal()" width=50 height=50 src='/static/img/basic/plus.png'></td>
                
            </tr>
        </table>
	</div>

    <!-- 모달 창 !!  -->
    <div id="myModal" class="modal">
        
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
        

            <div id = "mealbox1">
                <form id="mealdb_input"  onsubmit="return false;">  
                    <br>   
                   
                    <select id="m_select" name="meal_time" >
                        <option value="">선택해주세요</option>
                        <option value="breakfast">아침</option>
                        <option value="lunch">점심</option>
                        <option value="dinner">저녁</option>
                        <option value="snack">간식</option>
                    </select>
                    <br>
                    <br>
                    <table id="meal_input" class="m_in_tb" >
                        <colgroup>
                            <col width="15%">
                            <col width="19%">
                            <col width="16%">
                            <col width="14%">
                            <col width="14%">
                            <col width="14%">
                            <col width="8%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>이름</th>
                                <th>무게(g)</th>
                                <th>칼로리(kcal)</th>
                                <th>탄수화물(g)</th>
                                <th>단백질(g)</th>
                                <th>지방(g)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="meal_input_tbody">
                        </tbody>


                    </table>

                    <button> 등록 </button> 
                    <button> 취소 </button> 



                </form>           
            </div>
            <div id = "mealbox2">
                <div id="searchbox">
                    <input type="text" id="serDB" name="serDB" size="10" style="height:35px;" value="사과">
                    <button type="button" onclick="searchDB()">검색</button>
                </div>
                <br>
                <table id="mealdb" class="mealdbtb">
                    <colgroup>
                        <col width="30%">
                        <col width="30%">
                        <col width="30%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>무게</th>
                            <th>칼로리</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="mealdb_tbody">

                    </tbody>

                </table>
            </div>
            
        </div>
        
    </div>
    <script>
        // 모달
        function addMeal(){
            modal.style.display = "block";
        }
        // Get the modal
        var modal = document.getElementById("myModal");
 
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        //var t = document.getElementById('foodweight');
        //t.addEventListener('keydown', function(e){ if(e.code === 'Enter'){ testtest()}  })


      


        //const searchname = document.getElementById('serDB')
        var weightgram ='o....'
        

        var dummydata=[]
       //document.addEventListener('keydown',function(e){

        document.getElementById('serDB').addEventListener('keydown',function(e){
            if(e.code === 'Enter'){
                 
                searchDB()
            }
        })

     

      




      


        dummydata1=[
        {'id':1,'name':'사과','weight':100,'kcal':57,'carb':14.4,'prot':0.2, 'fat':0},
        {'id':2,'name':'사과즙','weight':120,'kcal':59,'carb':14.5,'prot':0.1, 'fat':0.1},
        {'id':3,'name':'사과식초','weight':10,'kcal':2,'carb':0.2,'prot':0, 'fat':0}
        ]
        dummydata2=[
        {'id':4,'name':'고구마','weight':75,'kcal':98,'carb':23.4,'prot':1.0, 'fat':0.2},
        {'id':5,'name':'고구마말랭이','weight':60,'kcal':172,'carb':38.0,'prot':4.0, 'fat':0.4},
        {'id':6,'name':'고구마맛탕','weight':100,'kcal':245,'carb':47.3,'prot':1.6, 'fat':5.5}
        ]

        function searchDB()
        {
            const searchname = document.getElementById('serDB').value;

            if(searchname=='사과'){
                
                dummydata=dummydata1

            }
            else if(searchname=='고구마'){
                dummydata=dummydata2
            }
            
            



            dblist = ''

            for (var i = 0; i < dummydata.length; i++) {

                dblist += '<tr><td>'+ dummydata[i].name + '</td>'
                dblist += '<td>'+ dummydata[i].weight + '</td>'
                dblist += '<td>'+ dummydata[i].kcal + '</td>'
                dblist += '<td><img width=20 height=20 src="/static/img/basic/plus_data.png" onclick="add_meal('+dummydata[i].id+')"></td></tr>'
            }

            $('#mealdb_tbody').html(dblist)

        }

        function del_meal(num)
        {
            //var rmtxt = 5
            rmtxt = '.foodid'+num
            $(rmtxt).remove()
            
            
            

        }
        function add_meal(num)
        {
            
            for (var i = 0; i < dummydata.length; i++) {
                if (num == dummydata[i].id){

                    var adddata = dummydata[i]
                }

            }

            var insertdata=''

            insertdata += '<tr class="foodid'+adddata.id+'"><td>'+adddata.name +'</td>'
            insertdata += '<td><input id="foodweight'+adddata.id+'" class="foodweight" type="text" name="foodweight" size="5" value="'+adddata.weight +'" style="text-align:center;"><img width=20 height=20 src="/static/img/basic/chevron.png" onclick="modi_meal('+adddata.id+')"></td>'
            insertdata += '<td>'+adddata.kcal+'</td>'
            insertdata += '<td>'+adddata.carb+'</td>'
            insertdata += '<td>'+adddata.prot+'</td>'
            insertdata += '<td>'+adddata.fat+'</td>'
            insertdata += '<td><img width=20 height=20 src="/static/img/basic/minus_data.png" onclick="del_meal('+adddata.id+')"></td></tr>'



            


            
            $('#meal_input_tbody').append(insertdata)

            document.getElementById('foodweight').addEventListener('keydown',function(e){
                if(e.code === 'Enter'){
                    
                    testtest(adddata.id)
                }
            })



            

        }

        function modi_meal(num){
            
            // 수정 전 데이터 저장  
            for (var i = 0; i < dummydata1.length; i++) {
                if (num == dummydata1[i].id){
                    
                    var modidata = dummydata1[i]
                }
                
            }
            
            
            rmtxt = '.foodid'+num
            
            //alert(modidata.name)
            
            
            var change_gram = document.getElementById('foodweight'+ modidata.id ).value;
            var new_ratio = change_gram/Number(modidata.weight)
            new_ratio=new_ratio.toFixed(2)
            
            
            
            
            var modi_cal =Number(modidata.kcal)*new_ratio
            var modi_carb =Number(modidata.carb)*new_ratio
            var modi_prot =Number(modidata.prot)*new_ratio
            var modi_fat =Number(modidata.fat)*new_ratio
            
            
            
            var updated_data = ''
            updated_data += '<tr class="foodid'+modidata.id+'"><td class="foodid'+modidata.id+'">'+ modidata.name +'</td>'
            updated_data += '<td><input id="foodweight'+modidata.id+'" class="foodweight" type="text" name="foodweight" size="5" value="'+change_gram +'" style="text-align:center;"><img width=20 height=20 src="/static/img/basic/chevron.png" onclick="modi_meal('+modidata.id+')"></td>'
            updated_data += '<td>'+modi_cal+'</td>'
            updated_data += '<td>'+modi_carb+'</td>'
            updated_data += '<td>'+modi_prot+'</td>'
            updated_data += '<td>'+modi_fat+'</td>'
            updated_data += '<td><img width=20 height=20 src="/static/img/basic/minus_data.png" onclick="del_meal('+modidata.id+')"></td></tr>'
            $(rmtxt).remove()
            $('#meal_input_tbody').append(updated_data)
            
          

    

                

            

        }



    </script>



    
</main>

{% endblock mycontent %}