{% extends 'base.html' %}
{% block mycontent %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/dailycheck.css" />
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/dailycheckMeal.js"></script>



<main>	
	<div id="box1">
        
            <canvas id="myChart" >
               
            </canvas> 
       

        <table id="progressbars">

        </table>


	</div>
	
	<div id="box2">
		<table id = "inputsection">
            <tr>                
                <td width=250 height=250 style='background-color:#A0DDE0;'> 
                    <a href="#">
                    <ul>아침 200kcal</ul>
                    <ul>탄수화물: 30g</ul>
                    <ul>단백질: 10g</ul>
                    <ul>지방: 5g</ul>                 
                    </a>
                
                </td>
                <td width=250 height=250 style='background-color:#eee;'><a href="#"><img width=50 height=50 src='/static/img/basic/plus.png'> </a></td>
            </tr>
            <tr>
                <td width=250 height=250 style='background-color:#eee;'><a href="#"><img width=50 height=50 src='/static/img/basic/plus.png'> </a></td>
                <td width=250 height=250 style='background-color:#eee;'><a href="#"><img width=50 height=50 src='/static/img/basic/plus.png'> </a></td>

            </tr>
        </table>
	</div>
</main>

{% endblock mycontent %}