{% extends 'base.html' %}
{% block mycontent %}
{% load static %}
<!--
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
-->
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/selfCheck.css'%}">
    <script>

        var user_data=[0,0,0,0,0];
        var comp_data=[0,0,0,0,0];
        var avg_data=[0,0,0,0,0];
        var ageforuser=0;
        var genderforuser=0;

        function calculator(birth,gender,height,weight,activity,isuser){

            
          
            // bmi 계산
            var len = height/100
            var result = parseFloat(weight)/parseFloat(len*len);

            if(result<18.5){
                resultText = "<span id='spancolor'>저체중</span>";
                

            } else if(result<23){
                resultText = "<span id='spancolor2'>정상체중</span>";

            } else if(result<25){
                resultText = "<span id='spancolor3'>과체중</span>";

            } else{
                resultText = "<span id='spancolor4'>비만</span>";

            }
    
            resultText += " 입니다.";
            result=result.toString().match(/^.*\.\d{2}/);

            // 기초대사량 계산기 (bmr)
            // 1 헤리스- 베네딕트 식 
            // 남: BMR = 88.362 + (13.397*weight) + (4.799*height) - (5.677*age )
            // 여: BMR = 447.593 + (9.247*weight) + (3.098*height) - (4.330*age)
    
            // men: BMR = 66.5 + (13.75 * weight in kg) + (5.003 * height in cm) - (6.75 * age)
            //      BMR = 88.362 + (13.397 × weight in kg) + (4.799 × height in cm) - (5.677 × age in years)
            // women: BMR = 655.1 + (9.563 * weight in kg) + (1.850 * height in cm) - (4.676 * age)
            //      BMR = 447.593 + (9.247 × weight in kg) + (3.098 × height in cm) - (4.330 × age in years)
    
    
    
            // 2 미플린식 
            // 남: BMR = (10 × weight) + (6.25 × height) - (5 × age) + 5
            // 여: BMR = (10 × weight) + (6.25 × height) - (5 × age) - 161
    
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var todaydate = yyyy+mm+dd
            
            var age = parseInt((Number(todaydate)-Number(birth))*0.0001)
    
            var BMR1 = 0
            if(gender=='male'){
                BMR1 =  88.362 + (13.397*weight) + (4.799*height) - (5.677*age )
            }
            else{
                BMR1 = 447.593 + (9.247*weight) + (3.098*height) - (4.330*age)
    
            }
            var BMR2 = 0
            if(gender=='male'){
                BMR2 = (10*weight) + (6.25*height) - (5*age) + 5
            }
            else{
                BMR2 = (10*weight) + (6.25*height) - (5*age) - 161
    
            }
    
            var BMR = BMR2
            
    
            
            console.log(BMR)
    
            // 칼로리 소비량 기초대사량 + 활동대사량
            var EERlist = [BMR * 1.2,BMR * 1.375,BMR * 1.55,BMR * 1.725,BMR * 1.9]
            var amrlist = []
            EERlist.forEach(function(item) {
                amrlist.push(item-BMR)
            });
            // 활동 대사량 AMR
            
            var AMR = amrlist[Number(activity)]
            var EER = EERlist[Number(activity)]


            AMR=AMR.toString().match(/^.*\.\d{2}/);
    
            // 일주일 동안 살빼기위해 필요한 열량 
            EER = Math.round(EER)
            var needcal = [EER,EER-250,EER-500,EER-1000]



            if (isuser==0){
                user_data=[Number(height), Number(weight), Number(result[0]),Number(BMR),Number(AMR[0])]

                $(".box_style").remove()

                // 결과 업데이트
                var resultstr = ''
                resultstr+='<div><tr><td id="resultText" colspan="2">' + resultText +'</td></tr></div>'

                /**resultstr+='<tr><td>BMI 지수</td><td>'+ result +'</td></tr>'
                resultstr+='<tr><td>기초대사량(BMR)</td><td>'+ BMR +'</td></tr>'
                resultstr+='<tr><td>활동대사량(AMR)</td><td>'+ AMR +'</td></tr>'**/

                $('#box3').html(resultstr)
                $('#spancolor').css({'color':'#F2CB05'});
                $('#spancolor2').css({'color':'#03A64A'});
                $('#spancolor3').css({'color':'#FF6B1A'});
                $('#spancolor4').css({'color':'#D90416'});
               
    
                var needcalstr = ''
                needcalstr+='<div><tr><td class="level" colspan="2">얼마나 먹어야 되나요?</td></tr></div>'
                needcalstr+='<div><tr><td><span class="level1">극강</span>단계: </td><td><span class="level1">'+ needcal[3] +'</span>kcal</td></tr></div>'
                needcalstr+='<div><tr><td><span class="level2">강</span>단계: </td><td><span class="level2">'+ needcal[2] +'</span>kcal</td></tr></div>'
                needcalstr+='<div><tr><td><span class="level3">중</span>단계: </td><td><span class="level3">'+ needcal[1] +'</span>kcal</td></tr></div>'
                needcalstr+='<div><tr><td><span class="level4">체중유지</span>단계 </td><td><span class="level4">' + needcal[0] +'</span>kcal</td></tr></div>'
                
                $('#box4').html(needcalstr).css({
    
                    'font-family': "dohyeon"
    
                });
                $('.level1').css({'color':'red'});
                $('.level2').css({'color':'#F28F38'});
                $('.level3').css({'color':'#F2E85C'});
                $('.level4').css({'color':'#5BA638'});
                $('.level').css({'font-size':'13px'});

               
                
                
            }
            else{
                avg_data=[Number(height), Number(weight), Number(result[0]),Number(BMR),Number(AMR[0])]
            }

    
    
        }  
        function resetBtn(){
            window.location.reload()
            
        }  
        //$("#submitBtn").on("click",function(){
        function submitBtn(){

            //alert('submitbutt')
            var birth=document.getElementById("birth").value
            var gender=document.getElementById("gender").value
            //var gender=document.querySelector("input[name=gender]:checked").value
            var height=document.getElementById("height").value
            var weight=document.getElementById("weight").value
            var activity=document.getElementById("activity").value //stringtype

            console.log(gender)
            console.log(activity)

            

            

            calculator(birth,gender,height,weight,activity,0)

            // 10~80대 이상 평균 ,
            var today1 = new Date();
            var dd1 = String(today1.getDate()).padStart(2, '0');
            var mm1 = String(today1.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy1 = today1.getFullYear();
            var todaydate1 = yyyy1+mm1+dd1  
            var age11 = parseInt((Number(todaydate1)-Number(birth))*0.0001)
            ageforuser = Math.round(age11/10)*10
            if(gender=='male'){
                genderforuser='남성'
            }
            else{
                genderforuser='여성'
            }
                
            

            var avg_male_weight = [73.23, 75.91, 78.73, 76.37, 72.39, 69.22, 66.35, 62.76]
            var avg_female_weight = [59.36, 57.84, 59.21, 59.38, 58.83, 58.37, 57.18, 52.91]
            var avg_male_height = [173.73, 174.26, 174.53, 173.01, 170.18, 167.62, 165.40, 163.42]
            var avg_female_height = [161.32, 161.75, 161.67, 160.12, 157.41, 154.94, 152.19, 148.62]

    
            if (age11 <20){ //10대
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[0],avg_male_weight[0],2,1)
                }
                else{
                    calculator(birth,gender,avg_female_height[0],avg_female_weight[0],2,1)
                }
            } 
            else if (age11<30){//20대
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[1],avg_male_weight[1],2,1)
                }
                else{                  
                    calculator(birth,gender,avg_female_height[1],avg_female_weight[1],2,1)
                }   
            }
            else if (age11<40){ //30 대
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[2],avg_male_weight[2],2,1)
                }
                else{                  
                    calculator(birth,gender,avg_female_height[2],avg_female_weight[2],2,1)
                } 
            }
            else if(age11<50){ //40대
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[3],avg_male_weight[3],1,1)
                }
                else{                  
                    calculator(birth,gender,avg_female_height[3],avg_female_weight[3],1,1)
                } 
            }
           
            else if(age11<60){ //50대
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[4],avg_male_weight[4],1,1)
                }
                else{                  
                    calculator(birth,gender,avg_female_height[4],avg_female_weight[4],1,1)
                } 
            }
            else if(age11<70){//60대
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[5],avg_male_weight[5],1,1)
                }
                else{                  
                    calculator(birth,gender,avg_female_height[5],avg_female_weight[5],1,1)
                } 
            }
            else if(age11<80){ //70대
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[6],avg_male_weight[6],0,1)
                }
                else{                  
                    calculator(birth,gender,avg_female_height[6],avg_female_weight[6],0,1)
                } 

            }
            else{ //이상
                if(gender=='male'){
                    calculator(birth,gender,avg_male_height[7],avg_male_weight[7],0,1)
                }
                else{                  
                    calculator(birth,gender,avg_female_height[7],avg_female_weight[7],0,1)
                } 

            }
           

            console.log(user_data)
            console.log(avg_data)
            

            $("#dummyimg").remove()
            $("#submitbtn").remove()
            $("#reset").remove()

            draw_chart()


        }
        function draw_chart(){
            
            
            $.ajax({
                url:"/static/test.json",
                dataType:"json",
                success:function(data){
                    comp_data[0] = user_data[0] * 100 / avg_data[0]
                    comp_data[1] = user_data[1] * 100 / avg_data[1]
                    comp_data[2] = user_data[2] * 100 / avg_data[2]
                    comp_data[3] = user_data[3] * 100 / avg_data[3]
                    comp_data[4] = user_data[4] * 100 / avg_data[4]

                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'radar', 

                        data: {
                            labels: ['키','몸무게','BMI','기초대사량(BMR)','활동대사량(AMR)'],
                            datasets: [
                                {
                                    label: '입력하신 값',
                                    data: comp_data,
                                    fill: true,
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: '#D91818',
                                    pointBackgroundColor: '#D91818',
                                    pointBorderColor: '#fff',
                                    pointHoverBackgroundColor: '#fff',
                                    pointHoverBorderColor: '#D91818'
                                },{
                                    label: String(ageforuser)+'대 평균'+genderforuser,
                                    data: [100,100,100,100,100],
                                    fill: true,
                                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                    borderColor: '#1374F2',
                                    pointBackgroundColor: '#1374F2',
                                    pointBorderColor: '#fff',
                                    pointHoverBackgroundColor: '#fff',
                                    pointHoverBorderColor: '#1374F2'
                            }]

                            
                        },//data.
                        options: {
                            scale: {
                                min: 0,
                                max: 100,
                                stepSize:20
                            },
                            
                            plugins: {
                                
                                legend: { 
                                    labels:{
                                        
                                        

                                    
                                }
                                   
                                },
                                title: {
                                    display: false,
                                },
                                tooltips: {
                                    enabled: false
                                },                       
                            },
                        }
                    });//chart
                }
            })
            
                            

            
                            



            

        }
    </script>


    
        
   
                <div id="box2">

                    <form  id='frm' name="frm" action="#" method="post">
    
                        <div class="box_style">

                            생년월일<br><br>
                            <input type="text" id="birth" class="birth" placehloder="19970101">
                        </div>
                        <div class="box_style">
                            <br>성별<br><br>
                            <select id="gender", name="gender">
                                <option value="">성별</option>
                                <option value="male">남성</option>
                                <option value="female">여성</option>
                            </select>
                        </div>
                        <div class="box_style">
                            <br>키<br><br>
                            <input type="text" id="height" class="height">
                        </div>
                        <div class="box_style">
                            <br>몸무게<br><br>
                            <input type="text" id="weight" class="weight" >
                        </div>
                        <div class="box_style">
                            <br>활동량<br>
                            <select id="activity">
                                <option value="0">운동하지 않음</option>
                                <option value="1">가벼운 활동 (운동: 1~3일)</option>
                                <option value="2">보통 활동 (운동: 3~5일)</option>
                                <option value="3">많은 활동 (운동: 6~7일)</option>
                                <option value="4">격렬한 활동</option>
                            </select>
                        </div>
                        <div class="btn_div1">
                            <button id="submitbtn" class='real_btn1' type="button" onclick="submitBtn()">입력</button>     
                        </div>
                        <div class="btn_div2">
                             <button id="reset" class='real_btn2' type="button" onclick="resetBtn()">취소</button>  
                        </div>
                        <div id="box3">
                        </div>
                        <div id="box4">
                        </div>
                    </form> 

                </div>
                
                <div id="box1">
                    
                    <img id="dummyimg" width="700px" height="600px" src = "https://cdn.pixabay.com/photo/2016/12/19/23/11/checklist-1919328_1280.png">
                    <div class='canvas1'>
                        <canvas id="myChart"></canvas> 
                    </div>
                    
                </div>

       


       




    {% endblock mycontent %}