{% extends 'base.html' %}
{% block mycontent %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/dailycheck2.css" />
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/dailycheckExercise.js"></script>
<script src="/static/js/dailycheckExercise_modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<main>	
	<div id="box1">
        
            <canvas id="myChart" >
               
            </canvas> 
            <div id='labeltext' class="label-text">
            </div>
        
       

        <table id="progressbars">

        </table>


	</div>
	
	<div id="box2">
		<table id = "inputsection">
            
            
            {%if exerciseList%}
            {%for exer in exerciseList%}
            <tr>                
                    <td width=250 height=250 style='background-color:#A0DDE0;'> 
                        <a href="#">
                        <ul>{{exer.ex_name}}</ul>
                        <ul>{{exer.ex_counts}}회</ul>               
                        <ul>{{exer.burned_kcal}}kcal</ul>               
                        </a>
                    
                    </td>
                    
            </tr>
            {%endfor%}
            {%endif%}
            <tr>
                <td id='addExercise' width=250 height=250 style='background-color:#eee;'><img onclick="addExercise()" width=50 height=50 src='/static/img/basic/plus.png'></td>
            </tr>
        </table>
	</div>


    <!-- The Modal1 -->
    <div id="myModal" class="modal">
        
        <!-- Modal content1 -->
        <div id='modalcontent' class="modal-content">
            <span class="close">&times;</span>
            <br>
            <!--activity 고르기-->
            <div class='sel_box' name='activitybox'>
                <h3 class="join_title">
                    <label>운동항목</label>
                    <br>
                    <p id='des'>원하는 운동항목을 선택하세요.</p>
                </h3>
                <div class = "activitysel">
                    <ul class="activity" name="activity" value="bicycling"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>bicycling</ul>
                    <ul class="activity" name="activity" value="conditioning"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>conditioning exercise</ul>
                    <ul class="activity" name="activity" value="healthclub"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>health club exercise</ul>
                    <ul class="activity" name="activity" value="running"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>running</ul>
                    <ul class="activity" name="activity" value="sports"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>sports</ul>
                    <ul class="activity" name="activity" value="walking"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>walking</ul>
                    <ul class="activity" name="activity" value="water"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>water activities</ul>
                    <ul class="activity" name="activity" value="winter"><img class='imgtt' width=25 height=25 src='/static/img/basic/check2.png'>winter activities</ul>
                </div>
                <br>
                <button class="nextBtn" id='nextBtn' onclick="nextBtn()">Next</button>

            </div>
            <br>
    
        </div>
    </div>

    <div id="myModal2_1" class="modal">
        <!-- Modal content2 -->
        <div id='modalcontent2_1' class="modal-content">
            <span class="close2_1">&times;</span>
            <br>
            <!--activity 고르기-->
            <div class='sel_box' name='targetbox'>
                <h3 class="join_title">
                    <label>타켓운동</label>
                    <br>
                    <p id='des'></p>
                </h3>
                <div id="targetsel" class = "targetsel">

                </div>
                <br>
                <button class="prevBtn2" id='prevBtn2' onclick="prevBtn2()">Prev</button>
                <button class="okBtn" id='okBtn' onclick="okBtn()">Ok</button>
                <button class="noBtn" id='noBtn' onclick="noBtn()">No</button>

            </div>
            <br>
        
        </div>
    </div>


    <div id="myModal2" class="modal">
        <!-- Modal content2 -->
        <div id='modalcontent2' class="modal-content">
            <span class="close2">&times;</span>
            <br>
            <!--activity 고르기-->
            <div class='sel_box' name='exercisebox'>
                <h3 class="join_title">
                    <label>운동명</label>
                    <br>
                    <p id='des'>원하는 운동을 선택하세요.</p>
                </h3>
                <div id="exerciseysel" class = "exerciseysel">

                </div>
                <br>
                <button class="prevBtn" id='prevBtn' onclick="prevBtn()">Prev</button>
                <button class="nextBtn2" id='nextBtn2' onclick="nextBtn2()">Next</button>

            </div>
            <br>
        
        </div>
    </div>


    <div id="myModal3" class="modal">
        <!-- Modal content3 -->
        <div id='modalcontent3' class="modal-save-content">
            
            <span class="close3">&times;</span>
            <br>
            <!--activity 고르기-->
            <form method = "POST" action = "{%url 'DailyCheck:saveBtn'%}" id="wExercise">
                {% csrf_token %}
                <div class='sel_box' name='savebox'>
                    <h3 class="join_title">
                        {% comment %} <input type='hidden' name='id' value="{{request.session.session_id}}"> {% endcomment %}
                        <label>운동기록</label>
                        <br>
                        <p id='des'>운동을 기록하세요.</p>
                    </h3>
                    <div class = "savecontent">
                        <table id="savetable" class="savetable">
                            <tr id="datetable">
                                <td>
                                    <label>운동 날짜</label>
                                </td>
                                <td>
                                    <input type="text" class="inputbox"  id="date" name="date">
                                </td>
                            </tr>
                            <tr id="nametable">
                                <td>
                                    <label>운동이름</label>
                                </td>
                                <td>
                                    <input type="text" class="inputbox"  id="saveexercise" name="saveexercise"><br>
                                </td>
                            </tr>
                            <tr id="leveltable">
                                <td>
                                    <label>운동강도</label>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr id="contenttable">
                                <td colsspan="2">
                                    <label>운동목표</label>                                
                                </td>
                            </tr>
                            <div class="savecontent2">
                                <tr>
                                    <td>
                                        <label for="write1">세트 수</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="write1" name="write1" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="write2">횟수/한 세트 당</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="write2" name="write2" value=""><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="write3">시간/한 세트 당(분)</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="write3" name="write3" value=""><br>
                                    </td>
                                </tr>
                            </div>
                            <tr id="contenttable2">
                                <td colsspan="2">
                                    <label>운동기록</label>                                
                                </td>
                            </tr>
                            <div class="savecontent2_2">
                                <tr>
                                    <td>
                                        <label for="write2_1">세트 수</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="write2_1" name="write2_1" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="write2_2">횟수/한 세트 당</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="write2_2" name="write2_2" value=""><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="write2_3">시간/한 세트 당(분)</label>
                                    </td>
                                    <td>
                                        <input type="text" class="inputbox"  id="write2_3" name="write2_3" value=""><br>
                                    </td>
                                </tr>
                            </div>
                            
                        </table>
                    </div>
                    <br>
                    <button type="button" class="prevBtn22" id='prevBtn22' onclick="prevBtn22()">Prev</button>
                    <button type="submit" class="saveBtn" id='saveBtn' onclick="saveBtn()">Save</button>

                </div>
                <br>
            </form>
        </div>
    </div>
    <script>
        // 모달
        $(function(){
            var activityName
            var exerciseName
            var exercisenumber
            $(document).on("click",".activity",function(){
                activityName = $(this).text();
                console.log(activityName)
                $(this).toggleClass("on")


            })
            $(document).on("click",".exercise",function(){
                exerciseName = $(this).text();
                $(this).toggleClass("on")
            })
            $('#nextBtn').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(activityName)
                        if(activityName=='health club exercise'){
                            modal.style.display = "none";
                            modal2_1.style.display = "block";
                            var str=''
                            str+='<br>'
                            str+='<ul>복부 위주의 운동을 선호하십니다.</ul>'
                            str+='<ul>복부 위주의 운동을 선택하시겠습니까?</ul>'
                        
                            $('#targetsel').html(str)
                        }
                        else{
                            modal.style.display = "none";
                            modal2.style.display = "block";
                            var str=''
                            for(let i=0;i<data.length;i++){
                                if(data[i].activity==activityName){
                                    str+='<ul class="exercise" name="exercise">'+data[i].ex_name+'</ul>'
                                }
                            }
                            $('#exerciseysel').html(str)

                        }
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//nextBtn function
            $('#okBtn').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(activityName)
                        if(activityName=='health club exercise'){
                            modal.style.display = "none";
                            modal2.style.display = "block";
                            var str=''
                            for(let i=0;i<data.length;i++){
                                if(data[i].activity==activityName && data[i].target_category=='Abs'){
                                    str+='<ul class="exercise" name="exercise">'+data[i].ex_name+'</ul>'
                                }
                            }
                            $('#exerciseysel').html(str)
                        }
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//okBtn function

            $('#noBtn').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(activityName)
                        if(activityName=='health club exercise'){
                            modal.style.display = "none";
                            modal2.style.display = "block";
                            var str=''
                            for(let i=0;i<data.length;i++){
                                if(data[i].activity==activityName){
                                    str+='<ul class="exercise" name="exercise">'+data[i].ex_name+'</ul>'
                                }
                            }
                            $('#exerciseysel').html(str)
                        }
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//okBtn function

            $('#prevBtn22').click(function(){
                $.ajax({
                    url:'{%url "DailyCheck:exercise1"%}',
                    dataType:'json',
                    success:function(data){
                        modal3.style.display = "none";
                        modal2.style.display = "block";
                        console.log(activityName)
                        var str=''
                        let ex=[]
                        for(let i=0;i<data.length;i++){
                            if(data[i].activity==activityName){
                                str+='<ul class="exercise" name="exercise">'+data[i].ex_name+'</ul>'
                            }
                        }
                        $('#exerciseysel').html(str)
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            })//prevBtn22 function
           
            $('#nextBtn2').click(function(){
                $('#saveexercise').attr('value',exerciseName); 
                $.ajax({
                    url:'{%url "DailyCheck:exercise2"%}',
                    dataType:'json',
                    success:function(data){
                        console.log(exerciseName)
                        $('#date').attr('value',data[0].curr_date); 
                        str=''
                        str+='<td>'
                        str+='<label>운동강도</label>'
                        str+='</td>'
                        str+='<td>'
                        str+='<select id="savelevel" name="savelevel" aria-label="운동강도"><br>'
                        str+='<option disabled selected>운동강도</option>'
                        for(let i=0;i<data.length;i++){
                            if(data[i].ex_name==exerciseName){
                                if(data[i].level==2){
                                    str+='<option value="2">저강도</option>'
                                }
                                else if(data[i].level==3){
                                    str+='<option value="3">중강도</option>'
                                }
                                else if(data[i].level==6){
                                    str+='<option value="6">고강도</option>'
                                }
                            }
                        }
                        str+='</select>'
                        str+='</td>'
                        $('#leveltable').html(str)
                    },
                    error:function(){
                        alert('실패')
                    }
                })//ajax 
            

            })
            $('#saveBtn').click(function(){
                exercisenumber=$('#write2').text()
                alert('저장!')
                var ultext=''
                ultext+='<ul>'+exercisenumber+'</ul>'
                $('#saveexercise').attr('value',ultext); 

                
            })
        })

        function addExercise(){
            modal.style.display = "block";
            labeltext.style.display = "none";
        }

        function prevBtn(){
            modal.style.display = "block";
            modal2.style.display = "none";
            modal2_1.style.display = "none";
        }
        function prevBtn2(){
            modal.style.display = "block";
            modal2.style.display = "none";
        }
        function nextBtn2(){
            modal.style.display = "none";
            modal2.style.display = "none";
            modal3.style.display = "block";
            
        }

        function saveBtn(){
            modal3.style.display="none";

        }
        // Get the modal
        var modal = document.getElementById("myModal");
        var modal2 = document.getElementById("myModal2");
        var modal2_1 = document.getElementById("myModal2_1");
        var modal3 = document.getElementById("myModal3");
        var labeltext = document.getElementById("labeltext");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var span2 = document.getElementsByClassName("close2")[0];
        var span2_1 = document.getElementsByClassName("close2_1")[0];
        var span3 = document.getElementsByClassName("close3")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:reBtn'%}"
        }
        span2.onclick = function() {
            modal2.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:reBtn'%}"
        }
        span2_1.onclick = function() {
            modal2_1.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:reBtn'%}"
        }
        span3.onclick = function() {
            modal3.style.display = "none";
            labeltext.style.display = "flex";
            location.href="{%url 'DailyCheck:reBtn'%}"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{%url 'DailyCheck:reBtn'%}"
            }
            if (event.target == modal2) {
                modal2.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{%url 'DailyCheck:reBtn'%}"
            }
            if (event.target == modal3) {
                modal3.style.display = "none";
                labeltext.style.display = "flex";
                location.href="{%url 'DailyCheck:reBtn'%}"
            }
        }
    </script>
</main>

{% endblock mycontent %}