/* IE */
@font-face {

    src : url("/static/font/BMDOHYEON_otf.otf"); 

    font-family: "dohyeon";

}
select::-ms-expand {
    display: none;
    font-family: "dohyeon";

}

.admin_select {

    appearance: none;
    width: 150px;
    height: 35px;
    background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
    font-family: "dohyeon";

}

h1 {
    font-family: "dohyeon";
}


.admin_name{

    padding-top: 20px;
    padding-bottom: 20px;



}

th {

    font-family: "dohyeon";
}


.admin_select option {
background: black;
color: #fff;
padding: 3px 0;
font-family: "dohyeon";
}





.nav_container { 

    display: flex;
    flex-direction: row; /** 이거 뭔지 검색:) **/
    width: 100%;
    margin: 0; /* 쓸데 없는 공백제거 */
    padding: 0; /* 쓸데 없는 공백제거 */
    background-color: #40e0d0;
    list-style-type:none; 
    font-family: "dohyeon";
    
    


}

.nav_item {

    padding: 15px;
    cursor: pointer; /* 마우스 커서를 pointer모양으로 함 */


} 

.nav_item a {

    text-align: center;
    text-decoration: none;
    color: white;




}
