@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;  
font-family: Pretendard;
}

.rap {
max-width: 820px;
padding: 0 1.4rem;
margin: 0 auto;
}

.dateHead {
margin-bottom: .4rem;
}

.dateHead div {
background: #36aeb3;
color: #fff;
text-align: center;

}

.grid {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-gap: 5px;
}

.grid div {
padding: .6rem;
font-size: .9rem;
cursor: pointer;
}

.dateBoard div {
color: #222;
font-weight: bold;
min-height: 6rem;
padding: .6rem .8rem;
border-radius: .6rem;
border: 1px solid #eee;
}

.noColor {
background: #eee;
}

.headerCal {
display: flex;
justify-content: space-between;
padding: 1rem 2rem;
}

.btnCal {
display: block;
width: 20px;
height: 20px;
border: 3px solid #000;
border-width: 3px 3px 0 0;
cursor: pointer;
}

.prevDay {
transform: rotate(-135deg);
}

.nextDay {
transform: rotate(45deg);
}
