* {
    margin: 0 auto;
    font-family: "dohyeon";
}
.disease {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #40e0d0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    float:left;
    text-align: center;
    }
#chartinfo, #mychart, #dinfo {width:80%;}
#chartinfo{
    background-color:#009900;
    clear:both;
    }

table,td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}
table{
    width: 400px;
}
td{
    width: 100px;
}