

.warning{
    font-size: 13px;
    color: red;


}

#pw_check_msg {

    font-size: 13px;
    color: red;


}
#email_check_msg {

    font-size: 13px;
    color: red;


}
#tel_check_msg {

    font-size: 13px;
    color: red;


}

/**#height_check_msg{


    font-size: 13px;
    color: red;

}

#weight_check_msg{

    font-size: 13px;
    color: red;


}**/