#container{

    min-width: 220px;
    margin: 0 15px;
    box-sizing: border-box;
}
#content{

    margin: 0 auto;
}

#btnJoin{

    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #03c75a;


}

.warning{
    font-size: 13px;
    color: red;


}

#pw_check_msg {

    font-size: 13px;
    color: red;


}
#email_check_msg {

    font-size: 13px;
    color: red;


}
#tel_check_msg {

    font-size: 13px;
    color: red;


}

.on{ font-size: 13px;
    color: red;}










/**#height_check_msg{


    font-size: 13px;
    color: red;

}

#weight_check_msg{

    font-size: 13px;
    color: red;


}**/