*{ 
	margin: 0;
	padding: 0;
}
#box1{

	float: left;
	width: 50%;


}
#box2{
    
	width: 50%;
  float: left;
    
}

a:link {
    color: black;
    text-decoration:none;
}
a:visited{
    color:black;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: none;
}
#inputsection{
    margin: 0 auto;
    margin-top: 10%;
    width: 70%;
    height: 500px;
    
    border-collapse: collapse;
}
#progressbars{
    margin: 0 auto;
    
    width: 500px;
    height: 50px;
    
    border-collapse: collapse;
}

#inputsection tr,td{
  margin: 0 auto;
  height:250px;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  
}

#modalcontent3>.sel_box>.savecontent #savetable tr,td{
    margin: 0 auto;
    height: 50px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid white;

}


#box2 ul{
  font-size: 30px;
  font-weight: bold;
  text-align: center;    
}


.label-text {
    margin-top:10%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 50%; 
    height: 60%; 
    z-index: 5;
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    pointer-events: none;
    font-size: 1.5rem;
    padding-top: 0;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: 20px;
  overflow: auto;
}

/* Modal save Content */
.modal-save-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  font-size: 20px;
  overflow: auto;
}


#des{
  font-size: 12px;
}
.activitysel,
.exerciseysel{
  margin: 0 auto;
  width:50%;
}
.activitysel ul,
.exerciseysel ul{
  padding: 20px;
  text-decoration: none;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}
.activitysel ul:hover,
.exerciseysel ul:hover{
  text-decoration: underline;
  cursor: pointer;

}
.activitysel ul:active,
.activitysel ul:focus,
.exerciseysel ul:active,
.exerciseysel ul:focus{
  color: red;
}

.labelname{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
}


.savecontent{
  margin: 0 ;
  padding-top: 20px;
}
.savecontent2{
  font-size: 15px;
}


/* The Close Button */
.close,
.close2,
.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus,
.close3:hover,
.close3:focus,
.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.nextBtn,
.nextBtn2,
.saveBtn{
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid white;
  border-collapse: collapse;

}

.nextBtn:hover,
.nextBtn:focus,
.nextBtn2:hover,
.nextBtn2:focus,
.saveBtn:hover,
.saveBtn:focus{
  cursor: pointer;
}


/* PROGRESSBAR */

.progress-value {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: .875rem;
    padding-bottom: .25rem;
  }
  
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.75rem;
    color: #273238;
  }
  
  progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }
  
  progress::-webkit-progress-value {
    background-color: #273238;
    border-radius: 8px;
  }
  
  progress::-moz-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }


  #ex1B{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.75rem;
    color: #ECEC84;
  }
  
  #ex1B::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }
  
  #ex1B::-webkit-progress-value {
    background-color: #ECEC84;
    border-radius: 8px;
  }
  
  #ex1B::-moz-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }

  #ex2B{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.75rem;
    color: #FFB69B;
  }
  
  #ex2B::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }
  
  #ex2B::-webkit-progress-value {
    background-color: #FFB69B;
    border-radius: 8px;
  }
  
  #ex2B::-moz-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }

  #ex3B{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.75rem;
    color: #A299CA;
  }
  
  #ex3B::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }
  
  #ex3B::-webkit-progress-value {
    background-color: #A299CA;
    border-radius: 8px;
  }
  
  #ex3B::-moz-progress-bar {
    background-color: #eee;
    border-radius: 8px;
  }


