section {
  text-align: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: bold;
}

table {
  width: 40%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
  line-height: 25px;
  border: 1px solid silver;
  border-top: 2px solid black;
}
th {
  padding: 10px 0 10px 20px;
  border: 1px solid silver;
  border-top: 2px solid black;
}
  

td{
  text-align: left;
  border: 1px solid silver;
  border-left: hidden;
  border-right: hidden;
}

.article {
  padding: 20px 0 20px 20px;
}

.separator {
  padding: 0 20px 0 20px;
  color: #e0e0e0;
}

.list {
  float: right;
  width: 120px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  margin: 30px 15px 30px 0px;
  border: 2px silver solid;
}
.btn {
  margin-top: 0px;
  margin-left: 400px;
  margin-right: 400px;
}



