{%extends 'base.html' %}
{%block mycontent%}
    <meta charset="utf-8">
	<!--cookit css-->
	<link rel="stylesheet" href="/static/css/ck_style.css">
	<link rel="stylesheet" href="/static/css/ck_notice_list.css">
	<!--//cookit css-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="/static/css/bt_style.css">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">식단 정보 공유 게시판</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th	>
								<th>전문가여부</th>
								<th>작성일</th>
						    </tr>
						  </thead>
						  <tbody>
							{%if board_list%}
							{%for board in board_list%}
							<tr class="alert" role="alert">
								<!--번호-->
						    	<td>{{board.b_No}}</td>
								<!--제목-->
						        <td class="d-flex align-items-center">
									<div class="pl-3 email">
										<a href="{% url 'Board:fdView' board.b_No nowpage %}">
											{% if board.b_Indent > 0 %}
											{% for i in "x"|rjust:board.b_Indent %}
											⌞
											{%endfor%}
											{%endif%}
											{{board.b_Title}}
										</a></div>
								</td>
								<!--작성자-->
								<td>{{board.member.user_name}}</td>
								<!--전문가여부:비전문가-->
								{%if board.member.pro == 'advance' %}
								<td class="status"><span class="active">전문가</span></td>
								{%else%}
								<td class="status"><span class="waiting">비전문가</span></td>
								{%endif%}
								<!--작성일-->
								<td>{{board.b_Modidate|date:"H-m-d H:i"}}</td>
						    </tr>
							{%endfor%}
							{%else%}
							<tr>
								<td colspan=5>글이 없습니다</td>
							</tr>
							{%endif%}

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--페이징처리-->
		<ul class="page-num">
			<!--이전페이지-->
				  {% if board_list.has_previous %} <!--현재게시글 목록 페이지에 이전 페이지가 존재한다면-->
				  <a href="{% url 'Board:fdboard' nowpage=1 %}"><li class="firstb"></li></a> <!--1번 페이지로 이동-->
				  <a href="{% url 'Board:fdboard' nowpage=board_list.previous_page_number %}"><li class="prevb"></li></a> <!--이전페이지로 이동-->
				  {%else%}
				  <li class="firstb"></li>
				  <li class="prevb"></li>
				  {%endif%}
			<!--//이전페이지-->
			
			<!--페이지 순서 처리-->
				  {% for page in board_list.paginator.page_range %} <!--현재게시글 목록이 포함된 모든 페이지번호를 리트스 형식으로 다 가져와서-->
				  {% if page == nowpage %}
				  <li class="numb on"> <!--on/off class로 css 대입해서 현재페이지 여부 구분해주기-->
					<div>{{page}}</div> <!--해당 페이지 번호 대입-->
				  </li>
				  {%else%}
				  <a href="{% url 'Board:fdboard' nowpage=page %}"><li class="numb off"><div>{{page}}</div></li></a>
				  {%endif%}
				  {%endfor%}
			<!--//페이지 순서 처리-->
			
			<!--다음페이지-->
				  {%if board_list.has_next%} <!--현재게시글 목록 페이지에 다음 페이지가 존재한다면-->
				  <a href="{% url 'Board:fdboard' nowpage=board_list.next_page_number %}"><li class="nextb"></li></a><!--다음페이지로 이동-->
				  <a href="{% url 'Board:fdboard' nowpage=board_list.paginator.num_pages %}"><li class="lastb"></li></a>
																			  <!--nowpage에 총 페이지 수를 대입해서 마지막 페이지로 이동-->
			
				  {%else%}
				  <li class="nextb"></li>
				  <li class="lastb"></li>
				  {%endif%}
			<!--//다음페이지-->
				</ul>
			<!--//페이징처리-->
		<div id='btnbox'>
			{% if request.session.session_user_id%}
			<a href="{% url 'Board:fdwrite' nowpage %}" ><div class="write">쓰기</div></a>
			{%endif%}

		</div>
	</section>
<!--
	<script src="/static/js/bt_jquery.min.js"></script>
  <script src="/static/js/bt_popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bt_main.js"></script>
-->
{%endblock mycontent%}