{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
	</head>
	<body>
	 	<section>
			<h1>Hello</h1>
			<h3>Hello again</h3>
			<a href="#" id="shop_banner"></a>
			<div id="best_box">
				<div id="item_list">
					<ul id="item_context">
					
						<li class="item_nth">
							<div class="best_nth"><span id="best_top">BEST_01</span></div>
							<a href="https://dshop.dietshin.com/goods/view.asp?g=13748">
								<p class="item_img ">
									<img src="/static/img/mehr.png" class="img_nth">
								</p>
							</a>
							<div class="item_text">
								<span class="item_name">제품명: 김밥</span>
								<span class="item_price">할인가격: 00,000원</span><br>
								<span class="item_review">리뷰: 000 </span>
							</div>	
						</li>
						<li class="item_nth">
							<div class="best_nth"><span id="best_top">BEST_01</span></div>
							<a href="https://dshop.dietshin.com/goods/view.asp?g=13748">
								<p class="item_img ">
									<img src="/static/img/mehr.png" class="img_nth">
								</p>
							</a>
							<div class="item_text">
								<span class="item_name">제품명: 김밥</span>
								<span class="item_price">할인가격: 00,000원</span><br>
								<span class="item_review">리뷰: 000 </span>
							</div>	
						</li>
						<li class="item_nth">
							<div class="best_nth"><span id="best_top">BEST_01</span></div>
							<a href="https://dshop.dietshin.com/goods/view.asp?g=13748">
								<p class="item_img ">
									<img src="/static/img/mehr.png" class="img_nth">
								</p>
							</a>
							<div class="item_text">
								<span class="item_name">제품명: 김밥</span>
								<span class="item_price">할인가격: 00,000원</span><br>
								<span class="item_review">리뷰: 000 </span>
							</div>	
						</li>
						<li class="item_nth">
							<div class="best_nth"><span id="best_top">BEST_01</span></div>
							<a href="https://dshop.dietshin.com/goods/view.asp?g=13748">
								<p class="item_img ">
									<img src="/static/img/mehr.png" class="img_nth">
								</p>
							</a>
							<div class="item_text">
								<span class="item_name">제품명: 김밥</span>
								<span class="item_price">할인가격: 00,000원</span><br>
								<span class="item_review">리뷰: 000 </span>
							</div>	
						</li>
						<li class="item_nth">
							<div class="best_nth"><span id="best_top">BEST_01</span></div>
							<a href="https://dshop.dietshin.com/goods/view.asp?g=13748">
								<p class="item_img ">
									<img src="/static/img/mehr.png" class="img_nth">
								</p>
							</a>
							<div class="item_text">
								<span class="item_name">제품명: 김밥</span>
								<span class="item_price">할인가격: 00,000원</span><br>
								<span class="item_review">리뷰: 000 </span>
							</div>	
						</li>
						<li class="item_nth">
							<div class="best_nth"><span id="best_top">BEST_01</span></div>
							<a href="https://dshop.dietshin.com/goods/view.asp?g=13748">
								<p class="item_img ">
									<img src="/static/img/mehr.png" class="img_nth">
								</p>
							</a>
							<div class="item_text">
								<span class="item_name">제품명: 김밥</span>
								<span class="item_price">할인가격: 00,000원</span><br>
								<span class="item_review">리뷰: 000 </span>
							</div>	
						</li>
					</ul>
					<!-- <ul>
						{% if pList %}
						{% for product in pList %}
							<li>
								<a href="#">
									<img alt="{{product.p_name}}" src="{{product.p_fileName.url}}">
									<span id="best_top">BEST<br>{{product.p_no}}</span>
								</a>
								<a href="#">
									<span>{{product.p_name}}</span>
									<span>
										00,000원
										<span>/{{product.p_servings}}</span>
									</span>
								</a>
								<a href="#"></a>
							</li>
						{% endfor %}
						{% endif %}
					</ul> -->
				</div>
			</div>
		</section>	
	</body>
</html>