{%extends 'base.html' %}
{%block mycontent%}
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function diBtn(){
        alert('diBtn Test')

        $.ajax({
            url:'',
            data:{},
            dataType:'json',
            success:function(data){

            },//성공
            except:function(){

            }//실패
        })

    }


</script>

<h2>데이터 분석 페이지</h2>
<span onclick="diBtn()">당뇨</span>
<span>심장질환</span>
<div id='mychart'>
    <canvas id='canchart'></canvas>
</div>
<table>
    <tr>
        <td>현재 몸무게</td>
        <td>65kg</td>
        <td>목표 몸무게</td>
        <td>58kg</td>
    </tr>
    <tr>
        <td>현재 BMI</td>
        <td>29</td>
        <td>목표 BMI</td>
        <td>25</td>
    </tr>
    <tr>
        <td>현재 발병률</td>
        <td>50%</td>
        <td>목표 달성시 예측 발병률</td>
        <td>25%</td>
    </tr>
</table>
{%endblock mycontent%}